<div *ngIf="employer">
    <app-employer-sub-nav [employer]="employer"></app-employer-sub-nav>
    <div class="page">
        <div class="content">
            <app-employer-overview [employer]="employer"></app-employer-overview>
            <app-market-worth></app-market-worth>
            <app-employer-jobs-by-salary [employer]="employer"></app-employer-jobs-by-salary>
            <app-employer-company-reviews [employer]="employer"></app-employer-company-reviews>
            <app-shared-by-dimension [entity]="employer"></app-shared-by-dimension>
            <app-employer-popular-degrees [employer]="employer"></app-employer-popular-degrees>
            <app-shared-related [entity]="employer" [typeName]="'公司'"></app-shared-related>
        </div>
    </div>
</div>