<div class="container-survey">
    <div class="priceajob">
       <div class="priceajob__header">
          <h1 class="priceajob__header__title">为工作定价</h1>
          <h3 class="priceajob__header__subtitle">让我们开始使用职位和位置构建个人资料。</h3>
       </div>
       <form enctype="application/json" class="full-width" __bizdiag="0" __biza="W___">
          <div class="priceajob__form">
             <label for="JobTitle" class="priceajob__form__label">工作头衔</label><input id="JobTitle" placeholder="e.g. Actuary" class="pxl-form-control control--md" value="software developer">
             <div id="" class="pxl-form-group hidden-question"><input class=" pxl-form-control" type="text" id="JobTitle" tabindex="0" value=""></div>
             <div id="" class="pxl-form-group hidden-question"><input class=" pxl-form-control" type="text" id="Flow" tabindex="0" value=""></div>
             <div id="" class="pxl-form-group  ">
                <label class="  pxl-control-label" for="Location">城市</label>
                <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-Location" aria-expanded="false" class="react-autosuggest__container">
                   <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-Location" class="pxl-form-control control--md" tabindex="0" id="Location" placeholder="e.g. Seattle, WA" value="Toronto, Ontario">
                   <div id="react-autowhatever-Location" role="listbox" class="react-autosuggest__suggestions-container"></div>
                </div>
             </div>
             <div id="" class="pxl-form-group  ">
                <div class="control--md">
                   <a class="">Canada</a>
                   <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-Country" aria-expanded="false" class="react-autosuggest__container">
                      <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-Country" class="pxl-form-control pxl-hidden" id="Country" placeholder="" value="Canada">
                      <div id="react-autowhatever-Country" role="listbox" class="react-autosuggest__suggestions-container"></div>
                   </div>
                </div>
             </div>
          </div>
          <div id="jobcards" class="priceajob__jobcards__header visible">
             <h2 class="priceajob__jobcards__header__title"> 建议的头衔 </h2>
             <h3 class="priceajob__jobcards__header__subtitle">选择与您要进行基准测试的工作最接近的匹配项。</h3>
          </div>
          <div class="jobcards visible">
             <div class="carousel priceajob-carousel" role="listbox">
                <div class="carousel__content" style="width: 720px;">
                   <div class="carousel__arrow carousel__arrow--left carousel__arrow--invisible"><span role="button" aria-label="View previous Job Titles">‹</span></div>
                   <div class="carousel__items-window">
                      <div class="carousel__items" style="transform: translate(1px);">
                         <div class="jobcard selected" id="0">
                            <h3 class="jobcard__title">Software Developer</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$58k</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$95k</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="1">
                            <h3 class="jobcard__title">Sr. Software Engineer / Developer / Programmer</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$84k</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$122k</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="2">
                            <h3 class="jobcard__title">.NET Software Developer / Programmer</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$58k</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$95k</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="3">
                            <h3 class="jobcard__title">Software Engineer / Developer / Programmer</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$0</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$0</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="4">
                            <h3 class="jobcard__title">Software Engineer</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$0</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$0</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="5">
                            <h3 class="jobcard__title">Software Developer, Web Applications</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$0</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$0</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="6">
                            <h3 class="jobcard__title">Android Software Developer</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$0</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$0</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="7">
                            <h3 class="jobcard__title">Project Manager, Software Development</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$0</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$0</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="8">
                            <h3 class="jobcard__title">Software Development Manager</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$0</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$0</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                         <div class="jobcard " id="9">
                            <h3 class="jobcard__title">Java Software Developer / Programmer</h3>
                            <div class="jobcard__content">
                               <div class="jobcard__chart">
                                  <div class="jobcard__chart__digits">
                                     <div class="jobcard__chart__digits__lower">$0</div>
                                     <div class="jobcard__chart__digits__hypen">-</div>
                                     <div class="jobcard__chart__digits__upper">$0</div>
                                  </div>
                                  <div class="jobcard__chart__paybar">
                                     <div class="jobcard__chart__paybar__lowerbar"></div>
                                     <div class="jobcard__chart__paybar__upperbar"></div>
                                  </div>
                               </div>
                            </div>
                            <svg class="jobcard__checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
                               <circle class="jobcard__checkmark__circle" cx="26" cy="26" r="25" fill="none"></circle>
                               <path class="jobcard__checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"></path>
                            </svg>
                         </div>
                      </div>
                   </div>
                   <div class="carousel__arrow carousel__arrow--right "><span role="button" aria-label="View next Job Titles">›</span></div>
                </div>
                <div class="carousel__indicator__window">
                   <div class="carousel__indicator__dots" style="transform: translate(0px);">
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot selected"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot "></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot small"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot xsmall"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot xsmall"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot xsmall"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot xsmall"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot xsmall"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot xsmall"></div>
                      </div>
                      <div class="carousel__indicator__dot__container">
                         <div class="carousel__indicator__dot xsmall"></div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
          <button type="submit" class="survey-btn--block survey-btn--primary" (click)="next()">下一步</button>
       </form>
    </div>
 </div>