<section class="page-section">
    <div class="paycharts">
       <div class="paycharts__percentile">
          <div class="paycharts__percentile--text">
             <span class="paycharts__value">${{showCompensation()}}</span>
             <div class="Dropdown-root" [ngClass]="isOpen?'is-open':''">
                <div class="Dropdown-control" aria-haspopup="listbox" (click)="toggleOpen()">
                   <div class="Dropdown-placeholder">/ <span *ngIf="salaryType=='Salary'">年</span><span *ngIf="salaryType!='Salary'">时</span></div>
                   <div class="Dropdown-arrow-wrapper"><span class="Dropdown-arrow"></span></div>
                </div>
                <div class="Dropdown-menu" aria-expanded="true" *ngIf="isOpen" (click)="changeSalaryType()">
                   <div class="Dropdown-option paycharts--toggle-link" role="option" aria-selected="false">/ <span *ngIf="salaryType=='Salary'">时</span><span *ngIf="salaryType!='Salary'">年</span></div>
                </div>
             </div>
             <br>平均基本<span *ngIf="salaryType=='Salary'">年薪</span><span *ngIf="salaryType!='Salary'">时薪</span><!-- --> (<!-- -->{{job.currencyCode}}<!-- -->)
          </div>
          <div id="percentile-chart-container">
             <div class="percentile-chart ">
                <div class="percentile-chart__edge">
                   <div class="percentile-chart__edge-bar-low">
                      <svg class="gradient-bar">
                         <defs>
                            <linearGradient id="default-startEdge">
                               <stop class="svg-white"></stop>
                               <stop offset="100%" class="svg-ghost-light"></stop>
                            </linearGradient>
                         </defs>
                         <rect x="0" y="0" width="100%" height="100%" fill="url('#default-startEdge')"></rect>
                      </svg>
                   </div>
                </div>
                <div class="percentile-chart__low">
                   <div class="percentile-chart__low-bar"></div>
                   <div class="percentile-chart__label">
                      <div>10%</div>
                      <div>${{getCompensation('min')}}</div>
                   </div>
                </div>
                <div class="percentile-chart__middle">
                   <div class="percentile-chart__middle-bar">
                      <svg class="gradient-bar">
                         <defs>
                            <linearGradient id="default-middleBar">
                               <stop class="svg-turqoise-dark"></stop>
                               <stop offset="100%" class="svg-cerulean"></stop>
                            </linearGradient>
                         </defs>
                         <rect x="0" y="0" width="100%" height="100%" fill="url('#default-middleBar')"></rect>
                      </svg>
                   </div>
                   <div class="percentile-chart__label--median">
                      <div class="percentile-chart__label percentile-chart__label--quartile"></div>
                      <div class="percentile-chart__label">
                         <div>中位数</div>
                         <div class="percentile-chart__median">${{getCompensation('avg')}}</div>
                      </div>
                      <div class="percentile-chart__label percentile-chart__label--quartile"></div>
                   </div>
                </div>
                <div class="percentile-chart__high">
                   <div class="percentile-chart__high-bar"></div>
                   <div class="percentile-chart__label">
                      <div>90%</div>
                      <div>${{getCompensation('max')}}</div>
                   </div>
                </div>
                <div class="percentile-chart__edge">
                   <div class="percentile-chart__edge-bar-high">
                      <svg class="gradient-bar">
                         <defs>
                            <linearGradient id="default-endEdge">
                               <stop class="svg-ghost-light"></stop>
                               <stop offset="100%" class="svg-white"></stop>
                            </linearGradient>
                         </defs>
                         <rect x="0" y="0" width="100%" height="100%" fill="url('#default-endEdge')"></rect>
                      </svg>
                   </div>
                </div>
             </div>
          </div>
          <p class="paycharts__percentile--desc">
             {{job.namet && job.namet.zh ? job.namet.zh : job.name}}的平均<span *ngIf="salaryType=='Salary'">年薪</span><span *ngIf="salaryType!='Salary'">时薪</span>是${{getCompensation('avg')}}
          </p>
       </div>
       <div class="paycharts__charttable">
          <div class="charttable">
             <div class="charttable__rows">
                <div class="tablerow">
                   <div class="tablerow__title-wrapper">
                      <div class="tablerow__title">
                         基本<span *ngIf="salaryType=='Salary'">年薪</span><span *ngIf="salaryType!='Salary'">时薪</span>
                         <span class="pxl-tooltip  " data-tip="Salary represents gross income before taxes and deductions. It does not include additional pay such as benefits, bonuses, profit sharing or commissions." data-for="Base Salary" currentitem="false"><span class="icon-reverse icon-circle"><i class="icon-info"></i></span></span>
                      </div>
                      <div class="tablerow__detail"></div>
                   </div>
                   <div class="tablerow__value">${{getCompensation('min')}} - ${{getCompensation('max')}}</div>
                   <div class="tablerow__bar">
                      <div class="tablerow__bar-range" style="width:50%;margin-left:46%"></div>
                   </div>
                </div>
                <div class="tablerow">
                   <div class="tablerow__title-wrapper">
                      <div class="tablerow__title">奖金</div>
                      <div class="tablerow__detail"></div>
                   </div>
                   <div class="tablerow__value">${{getOtherCompensation('bonus', 'min')}} - ${{getOtherCompensation('bonus', 'max')}}</div>
                   <div class="tablerow__bar">
                      <div class="tablerow__bar-range" style="width:9%;margin-left:0%"></div>
                   </div>
                </div>
                <div class="tablerow">
                   <div class="tablerow__title-wrapper">
                      <div class="tablerow__title">分红</div>
                      <div class="tablerow__detail"></div>
                   </div>
                   <div class="tablerow__value">${{getOtherCompensation('profitSharing', 'min')}} - ${{getOtherCompensation('profitSharing', 'max')}}</div>
                   <div class="tablerow__bar">
                      <div class="tablerow__bar-range" style="width:9%;margin-left:0%"></div>
                   </div>
                </div>
                <div class="tablerow">
                   <div class="tablerow__title-wrapper">
                      <div class="tablerow__title">提成</div>
                      <div class="tablerow__detail"></div>
                   </div>
                   <div class="tablerow__value">${{getOtherCompensation('commission', 'min')}} - ${{getOtherCompensation('commission', 'max')}}</div>
                   <div class="tablerow__bar">
                      <div class="tablerow__bar-range" style="width:5%;margin-left:4%"></div>
                   </div>
                </div>
                <div class="tablerow">
                   <div class="tablerow__title-wrapper">
                      <div class="tablerow__title">
                         总计<span class="pxl-tooltip  " data-tip="Total Pay combines base annual salary or hourly wage, bonuses, profit sharing, tips, commissions, overtime pay and other forms of cash earnings, as applicable for this job. It does not include equity (stock) compensation, cash value of retirement benefits, or the value of other non-cash benefits (e.g. healthcare)." data-for="Total Pay" currentitem="false"><span class="icon-reverse icon-circle"><i class="icon-info"></i></span></span>
                      </div>
                      <div class="tablerow__detail"></div>
                   </div>
                   <div class="tablerow__value">${{getOtherCompensation('total', 'min')}} - ${{getOtherCompensation('total', 'max')}}</div>
                   <div class="tablerow__bar">
                      <div class="tablerow__bar-range" style="width:55%;margin-left:45%"></div>
                   </div>
                </div>
             </div>
             <div class="charttable__bottom"></div>
          </div>
          <div class="paycharts__footer">
             基于{{getOtherCompensation('total', 'profileCount')}}份样本数据
          </div>
       </div>
    </div>
 </section>