<div class="container-survey">
    <div class="form-wrapper">
       <form enctype="application/json" id="surveyForm" novalidate="">
          <div class="survey__header">
             <h1>你的待遇</h1>
             <p>为了准确评估您在市场中的价值，请让我们了解有关您如何获得报酬的更多细节。 你的回答越准确，你的薪水报告的信息就越丰富。</p>
          </div>
          <div id="" class="pxl-form-group  ">
             <label class="  pxl-header-xs margin-bottom-md inline-display pxl-control-label" for="paytype">薪资类型</label>
             <div id="paytype" class="pxl-options control--md">
                <div class="">
                   <label class="pxl-option pxl-option--radio pxl-option--primary">
                      <input id="Annual Salary" type="radio" class="pxl-option__input" name="compensationType" [(ngModel)]="compensationType" [value]="'salary'">
                      <div class="pxl-option__text">年薪</div>
                   </label>
                   <label class="pxl-option pxl-option--radio pxl-option--primary">
                      <input id="Hourly Rate" type="radio" class="pxl-option__input" name="compensationType" [(ngModel)]="compensationType" [value]="'hourlyRate'">
                      <div class="pxl-option__text">小时工</div>
                   </label>
                </div>
             </div>
          </div>
          <button type="submit" class="survey-btn--block survey-btn--primary" (click)="next()">下一步</button>
       </form>
    </div>
 </div>