<app-menu></app-menu>

<!--
<app-search-salary 
[type]="'All'"
[countryCode]="countryCode"
[title]="'薪资数据和职业研究中心'"
[placeholder]="'例如美国'"
></app-search-salary>
<div class="page  rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-browse-all-categories></app-browse-all-categories>
            <app-find-your-market-worth></app-find-your-market-worth>
            <app-browse-popular-jobs></app-browse-popular-jobs>
            <app-learn-about-employers></app-learn-about-employers>
            <app-research-schools-and-degrees></app-research-schools-and-degrees>
            <app-get-career-tips-and-advice></app-get-career-tips-and-advice>
            <app-browse-by-states></app-browse-by-states>
            
        </div>
    </div>
</div>
-->
<router-outlet></router-outlet>

<app-what-am-i-worth></app-what-am-i-worth>
<app-footer></app-footer>

