<div class="jobs-table__container">
    <table class="data-table">
       <thead>
          <tr>
             <th class=" data-table__header">Job Title</th>
             <th class=" data-table__header">Range</th>
             <th class=" data-table__header">Average</th>
          </tr>
       </thead>
       <tbody>
          <tr class="data-table__row">
             <td class="data-table__cell  ">
                 <span class="data-table__title">Job Title:</span>
                 <span class="data-table__value">
                     <a href="/research/US/Job=Mechanical_Engineer/Salary" data-instant="true">Mechanical Engineer</a>
                </span>
            </td>
             <td class="data-table__cell  ">
                 <span class="data-table__title">Range:</span>
                 <span class="data-table__value">$57k - $96k</span>
            </td>
            <td class="data-table__cell  ">
                 <span class="data-table__title">Average:</span>
                 <span class="data-table__value">$71,288</span>
            </td>
          </tr>
          <tr class="data-table__row">
             <td class="data-table__cell  "><span class="data-table__title">Job Title:</span><span class="data-table__value"><a href="/research/US/Job=Project_Engineer/Salary" data-instant="true">Project Engineer</a></span></td>
             <td class="data-table__cell  "><span class="data-table__title">Range:</span><span class="data-table__value">$53k - $117k</span></td>
             <td class="data-table__cell  "><span class="data-table__title">Average:</span><span class="data-table__value">$69,414</span></td>
          </tr>
          <tr class="data-table__row">
             <td class="data-table__cell  "><span class="data-table__title">Job Title:</span><span class="data-table__value"><a href="/research/US/Job=Project_Manager%2C_(Unspecified_Type_%2F_General)/Salary" data-instant="true">Project Manager, (Unspecified Type / General)</a></span></td>
             <td class="data-table__cell  "><span class="data-table__title">Range:</span><span class="data-table__value">$47k - $110k</span></td>
             <td class="data-table__cell  "><span class="data-table__title">Average:</span><span class="data-table__value">$81,072</span></td>
          </tr>
          <tr class="data-table__row">
             <td class="data-table__cell  "><span class="data-table__title">Job Title:</span><span class="data-table__value"><a href="/research/US/Job=Software_Engineer/Salary" data-instant="true">Software Engineer</a></span></td>
             <td class="data-table__cell  "><span class="data-table__title">Range:</span><span class="data-table__value">$61k - $105k</span></td>
             <td class="data-table__cell  "><span class="data-table__title">Average:</span><span class="data-table__value">$76,433</span></td>
          </tr>
          <tr class="data-table__row">
             <td class="data-table__cell  "><span class="data-table__title">Job Title:</span><span class="data-table__value"><a href="/research/US/Job=Electrical_Engineer/Salary" data-instant="true">Electrical Engineer</a></span></td>
             <td class="data-table__cell  "><span class="data-table__title">Range:</span><span class="data-table__value">$64k - $111k</span></td>
             <td class="data-table__cell  "><span class="data-table__title">Average:</span><span class="data-table__value">$79,401</span></td>
          </tr>
          <tr class="data-table__row">
             <td class="data-table__cell  "><span class="data-table__title">Job Title:</span><span class="data-table__value"><a href="/research/US/Job=Financial_Analyst/Salary" data-instant="true">Financial Analyst</a></span></td>
             <td class="data-table__cell  "><span class="data-table__title">Range:</span><span class="data-table__value">$45k - $95k</span></td>
             <td class="data-table__cell  "><span class="data-table__title">Average:</span><span class="data-table__value">$64,519</span></td>
          </tr>
          <tr class="data-table__row">
             <td class="data-table__cell  "><span class="data-table__title">Job Title:</span><span class="data-table__value"><a href="/research/US/Job=Senior_Accountant/Salary" data-instant="true">Senior Accountant</a></span></td>
             <td class="data-table__cell  "><span class="data-table__title">Range:</span><span class="data-table__value">$58k - $92k</span></td>
             <td class="data-table__cell  "><span class="data-table__title">Average:</span><span class="data-table__value">$71,465</span></td>
          </tr>
       </tbody>
    </table>
 </div>