<app-page-section [title]="title" [description]="description">
   <div class="jobs-table__container">
      <table class="data-table">
         <thead>
            <tr>
               <th class=" data-table__header">{{tableTitle}}</th>
               <th class=" data-table__header">范围</th>
               <th class=" data-table__header">平均值</th>
            </tr>
         </thead>
         <tbody>
            <tr class="data-table__row" *ngFor="let item of items">
               <td class="data-table__cell  ">
                   <span class="data-table__title">{{tableTitle}}:</span>
                   <span class="data-table__value">
                       <a href="{{getUrl(item.url)}}" data-instant="true">
                          {{item.title}}
                       </a>
                  </span>
              </td>
               <td class="data-table__cell  ">
                   <span class="data-table__title">范围:</span>
                   <span class="data-table__value">{{item.min}} - {{item.max}}</span>
              </td>
              <td class="data-table__cell  ">
                   <span class="data-table__title">平均值:</span>
                   <span class="data-table__value">{{item.avg}}</span>
              </td>
            </tr>
         </tbody>
      </table>
  </div>
</app-page-section>
