<section class="page-section">
    <h2 class="page-subtitle about-school--bottom-space">学校介绍</h2>
    <div class="about-school__grid about-school--bottom-space" *ngIf="about">
        <div class="about-school__grid--col">
            <div class="about-school__section">
                <span class="about-school__header">地址:</span> 
                <!-- -->{{about.streetAddress}}<!-- --> <!-- -->{{about.city}}<!-- -->, <!-- -->{{about.state}}<!-- --> <!-- -->{{about.zip}}
            </div>
            <div class="about-school__section">
                <span class="about-school__header">网址:</span> 
                <a href="{{about.website}}">{{about.website}}</a>
            </div>
            <div class="about-school__section">
                <span class="about-school__header">本科招生人数:</span> 
                <!-- -->{{about.studentsEnrolled}}
            </div>
        </div>
        <div class="about-school__grid--col">
            <div class="about-school__section">
                <span class="about-school__header">所属类别:</span> 
                <!-- -->{{school.category.name}}
            </div>
            <div class="about-school__section">
                <span class="about-school__header">毕业率:</span> 
                <!-- -->{{about.graduationRate}}%
            </div>
            <div class="about-school__section">
                <span class="about-school__header">% STEM比例:</span> 
                <!-- -->{{about.percentStem}}%
            </div>
            <div class="about-school__section">
                <span class="about-school__header">% 本地就业率:</span> 
                <!-- -->{{about.percentStayInState}}%
            </div>
            <div class="about-school__section">
                <span class="about-school__header">% 接受助学金率:</span> 
                <!-- -->{{about.percentReceivingPellGrants}}%
            </div>
        </div>
        <div *ngIf="school.namet && school.namet.desczh">
            {{school.namet.desczh}}
        </div>
    </div>
</section>