.container-survey {
    padding: 30px;
    background-color: #fff;
    min-height: calc(100vh - 160px);
    margin: 0 auto;
}


@media (min-width: 768px) {
    .container-survey {
        width: 750px;
    }
    
}



