<h1 class="text-center pb-3">薪资调研报告</h1>
<div class="text-center py-3">哪个选项描述了您的情况？</div>
<div class="container">
   <div class="row">
      <div class="col col-12 col-md-4 pb-3" (click)="select('当前工作')">
         <app-card 
         [image]="'/assets/images/choose-page-icon-currentjob.png'"
         [title]="'当前工作'"
         [subtitle]="'我想了解当前职位的薪资信息'"
         ></app-card>
      </div>
      <div class="col col-12 col-md-4 pb-3" (click)="select('工作机会')">
         <app-card
         [image]="'/assets/images/choose-page-icon-joboffer.png'"
         [title]="'工作机会'"
         [subtitle]="'我正在评估工作机会'"
         ></app-card>
      </div>
      <div class="col col-12 col-md-4 pb-3" (click)="select('只是浏览')">
         <app-card
         [image]="'/assets/images/choose-page-icon-whatif.png'"
         [title]="'只是浏览'"
         [subtitle]="'我正在研究一份不属于我自己的工作'"
         ></app-card>
      </div>
   </div>
</div>

<div class="text-center py-3"><a href="/price-a-job?src=survey-choose">我是一名希望公平支付的雇主</a></div>
<p class="text-center">请记住：当我们引导您完成这项调查时，您的回答越具体，您的薪资报告就越准确。 而且，您与我们分享的任何信息都将保密。</p>
