<div id="footer-survey-start" class="footer-survey-start ">
    <div class="footer-survey-start__header">我值多少?</div>
    <div class="footer-survey-start__subheader">您的技能在就业市场上的价值在不断变化。</div>
    <form class="footer-survey-start__form survey-start__form" method="post" action="/wizards/choose.aspx?tk=footer-ps-rc-country" __bizdiag="614252771" __biza="W___">
       <input type="hidden" value="" name="city"><input type="hidden" value="" name="state"><input type="hidden" value="Canada" name="confCountry"><input type="hidden" value="" name="location"><input type="hidden" value="" name="job"><input type="hidden" value="" name="yearsexp">
       <div id="" class="pxl-form-group footer-survey-start__form-group"><label class=" pxl-control-label" for="">工作:</label><input type="text" class=" pxl-form-control" value="" placeholder="" tabindex="0"></div>
       <div id="" class="pxl-form-group footer-survey-start__form-group footer-survey-start__location">
          <label class=" pxl-control-label" for="">位置:</label>
          <div class="survey-start__location">
             <div class="survey-start__citystate">
                <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-footer-survey-startCityState" aria-expanded="false" class="react-autosuggest__container">
                   <input type="text" value="" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-footer-survey-startCityState" class="pxl-form-control survey-start__citystate-ac" tabindex="0" id="footer-survey-startCityState">
                   <div id="react-autowhatever-footer-survey-startCityState" role="listbox" class="react-autosuggest__suggestions-container"></div>
                </div>
             </div>
             <div class="survey-start__country">
                <div class="survey-start__country-label">
                   Canada<!-- --> <a class="survey-start__country-link">(修改)</a>
                </div>
                <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-footer-survey-startCountry" aria-expanded="false" class="react-autosuggest__container">
                   <input type="text" value="Canada" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-footer-survey-startCountry" class="pxl-form-control survey-start__country-ac survey-start--hidden" id="footer-survey-startCountry">
                   <div id="react-autowhatever-footer-survey-startCountry" role="listbox" class="react-autosuggest__suggestions-container"></div>
                </div>
             </div>
          </div>
       </div>
       <div class="footer-survey-start__btn"><input type="submit" class="footer-survey-start__btn-input" value="获取你的薪酬报告 »"></div>
    </form>
 </div>