<div class="page  research-center-web defaultv2">
    <section class="page-section page-section--first">
        <div class="default-overview">
            <div class="default-overview__logo">
                <img class="conux-logo " src="/assets/images/school-placeholder.png" alt="{{school.name}} - Online Campus">
            </div>
            <div class="default-overview__pay">
                <div class="default-overview__pay-container">
                    <span class="default-overview__value">$71k</span>
                    <div class="pxl-dropdown default-overview__dropdown  ">
                        <button class="pxl-btn dropdown__btn pxl-dropdown__toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">/ 年</button>
                        <div class="pxl-dropdown__menu" aria-labelledby="">
                            <a href="" title="Show Hourly Rate">/ 小时</a>
                        </div>
                    </div>
                </div>
                <span class="default-overview__text">平均基本年薪<!-- --> (<!-- -->USD<!-- -->)</span>
            </div>
            <div class="default-overview__divider"></div>
        </div>
    </section>
</div>
