<div class="page-section" id="popular-countries">
    <h2 class="page-subtitle">热门国家</h2>
    <div class="location__row location__country-card--popular-countries">
       <a data-instant="true" class="related-content-card" href="/research/US/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/united-states.jpg" alt="United States"></div>
          </div>
          <div class="related-content-card__title">美国</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/CA/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/canada.jpg" alt="Canada"></div>
          </div>
          <div class="related-content-card__title">加拿大</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/IN/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/india.jpg" alt="India"></div>
          </div>
          <div class="related-content-card__title">印度</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/UK/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/united-kingdom.jpg" alt="United Kingdom"></div>
          </div>
          <div class="related-content-card__title">英国</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/AU/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/australia.jpg" alt="Australia"></div>
          </div>
          <div class="related-content-card__title">澳大利亚</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/ZA/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/south-africa.jpg" alt="South Africa"></div>
          </div>
          <div class="related-content-card__title">南非</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/NZ/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/new-zealand.jpg" alt="New Zealand"></div>
          </div>
          <div class="related-content-card__title">新西兰</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/IE/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/ireland.jpg" alt="Ireland"></div>
          </div>
          <div class="related-content-card__title">爱尔兰</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/SG/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/singapore.jpg" alt="Singapore"></div>
          </div>
          <div class="related-content-card__title">新加坡</div>
          <div class="related-content-card__subtitle"></div>
       </a>
       <a data-instant="true" class="related-content-card" href="/research/AE/Salary">
          <div class="related-content-card__image-container">
             <div class="lazyload-wrapper "><img class="conux-logo related-content-card__image-container__image" src="https://payscale-content-prod.s3-us-west-2.amazonaws.com/content/country-flags/united-arab-emirates.jpg" alt="United Arab Emirates"></div>
          </div>
          <div class="related-content-card__title">阿拉伯联合酋长国</div>
          <div class="related-content-card__subtitle"></div>
       </a>
    </div>
 </div>