<div *ngIf="job">
    <app-job-sub-nav [job]="job"></app-job-sub-nav>
    <div class="page">
        <div class="content">
            <app-paychart [job]="job"></app-paychart>
            <app-market-worth></app-market-worth>
            <!--
            <app-explore [job]="job"></app-explore>
            <app-featured-content [job]="job"></app-featured-content>
            -->
            <app-pay-by-experience-level [job]="job"></app-pay-by-experience-level>
            <app-what-do [job]="job"></app-what-do>
            <app-market-worth></app-market-worth>
            <app-job-satisfaction [job]="job"></app-job-satisfaction>
        </div>
    </div>
</div>

