<app-menu></app-menu>
<app-search-salary 
[title]="'按国家搜索薪酬待遇'"
[selectedCategory]="'国家'"
[placeholder]="'输入国家'"
></app-search-salary>
<div class="page rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-popular-countries></app-popular-countries>
            <app-find-your-market-worth></app-find-your-market-worth>
            <app-browse-countries></app-browse-countries>
        </div>
    </div>
</div>

<app-what-am-i-worth></app-what-am-i-worth>
<app-footer></app-footer>