<div class="rc-sub-nav">
    <div class="rc-sub-nav__contents">
       <h1 class="rc-sub-nav__title">{{certification.name}}的平均薪资</h1>
       <div class="nav-container ">
          <div role="button" class="nav-container__scroll-icon nav-container__scroll-icon--hide"><i class="icon-left-open"></i></div>
          <div class="nav-container__tabs">
             <div class="tabs-container">
                <div class="tabs-container__tabs nav-container__tabs-override">
                   <div class="tab tab--selected rc-sub-nav__active-tab" role="button" tabindex="0"><span class="tab__name">概述</span></div>
                   <div class="tab rc-sub-nav__inactive-tab" role="button" tabindex="0"><span class="tab__name">薪资待遇</span></div>
                   <div class="tab rc-sub-nav__inactive-tab" role="button" tabindex="0"><span class="tab__name">相关证书</span></div>
                </div>
             </div>
          </div>
          <div role="button" class="nav-container__scroll-icon nav-container__scroll-icon--hide"><i class="icon-right-open"></i></div>
          <div class="nav-container__inline-area">
             <div class="rc-sub-nav__ctas">
                <div class="rc-sub-nav__cta-wrapper">
                   <span class="rc-sub-nav__cta-label">
                   我该付多少工资？
                  </span>
                  <a href="/price-job" class="rc-sub-nav__cta-paj">为工作定价</a>
               </div>
               <div class="rc-sub-nav__cta-wrapper">
                   <span class="rc-sub-nav__cta-label">我值多少？</span>
                   <a href="/survey/choose" class="rc-sub-nav__cta-survey">寻找市场价值</a>
               </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 