<div *ngIf="degree">
    <app-degree-sub-nav [degree]="degree"></app-degree-sub-nav>
    <div class="page">
        <div class="content">
            <app-degree-overview [degree]="degree"></app-degree-overview>
            <app-shared-jobs-by-salary [entity]="degree"></app-shared-jobs-by-salary>
            <app-related-degrees [degree]="degree"></app-related-degrees>
            <app-shared-by-dimension [entity]="degree"></app-shared-by-dimension>
            <app-degree-job-satisfaction [degree]="degree"></app-degree-job-satisfaction>
        </div>
    </div>
</div>