<app-menu></app-menu>
<app-search-salary 
[title]="'按学校搜索薪酬待遇'"
[selectedCategory]="'学校'"
[placeholder]="'输入学校'"
></app-search-salary>
<div class="page  rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-browse-industries-by-category></app-browse-industries-by-category>
            <app-find-your-market-worth></app-find-your-market-worth>
            <app-related-articles></app-related-articles>
            <app-compensation-best-practices></app-compensation-best-practices>
            <app-popular-searches></app-popular-searches>
        </div>
    </div>
</div>

<app-what-am-i-worth></app-what-am-i-worth>
<app-footer></app-footer>