<div class="page-section">
    <h2 class="page-subtitle">查看所有类别</h2>
    <div class="section-description">
        进行职业研究并找到特定工作、雇主、学校等的深入工资数据。 知道你在找什么吗？ 在上方开始搜索，浏览以发现
    </div>
    <div class="location__row location--top-spaced">
        <div class="location__col"><a href="/research/AU/Employer">公司</a></div>
        <div class="location__col"><a href="/research/AU/Degree">学位</a></div>
        <div class="location__col"><a href="/research/AU/Job">工作</a></div>
        <div class="location__col"><a href="/research/AU/Certification">证书</a></div>
        <div class="location__col"><a href="/research/AU/Skill">技能</a></div>
        <div class="location__col"><a href="/research/AU/Industry">行业</a></div>
        <div class="location__col"><a href="/research/AU/School">学校</a></div>
    </div>
</div>
