<div class="container-survey">

       <div class="survey__header">
          <h1>添加详细内容</h1>
          <p>Lux侧重于通过很多因素来衡量工作</p>
       </div>
       <div id="" class="pxl-form-group  ">
          <label class="  pxl-control-label" for="YearsExperience">多年经验对于完全精通此角色的人来说是典型的</label>
          <div class="pxl-input-number">
             <input class="control--xs pxl-input-number__input pxl-form-control" type="number" id="YearsExperience" tabindex="0" value="">
             <div class="pxl-input-number__format"></div>
          </div>
       </div>
       <div id="" class="pxl-form-group  ">
          <label class="  pxl-control-label" for="YearsMinimum">至少多年的经验才能完全精通此角色</label>
          <div class="pxl-input-number">
             <input class="control--xs pxl-input-number__input pxl-form-control" type="number" id="YearsMinimum" tabindex="0" value="">
             <div class="pxl-input-number__format"></div>
          </div>
       </div>
       <div class=" ">
          <div id="" class="pxl-form-group  ">
             <label class="  pxl-control-label" for="HighestDegreeEarned">教育</label>
             <select id="HighestDegreeEarned" class="control--md pxl-form-control" tabindex="0">
                <option value="">- 点击选择 -</option>
                <option value="No Degree">没有学位</option>
                <option value="Associate's Degree">Associates</option>
                <option value="Bachelor's Degree">Bachelors</option>
                <option value="Other">Other</option>
                <option value="High School Diploma or GED">High School Diploma or GED</option>
                <option value="Non-Degree Certificate Program">Non-Degree Certificate Program</option>
                <option value="Master's Degree (non-MBA)">Master's Degree (non-MBA)</option>
                <option value="Master of Business Administration (MBA)">Master of Business Administration (MBA)</option>
                <option value="Law Degree (JD, LLM)">Law Degree (JD, LLM)</option>
                <option value="Doctorate (PhD)">Doctorate (PhD)</option>
                <option value="Health Professional Doctorate (MD, DMD, DVM, DPT, etc.)">Health Professional Doctorate (MD, DMD, DVM, DPT, etc.)</option>
             </select>
          </div>
       </div>
       <div id="" class="pxl-form-group  ">
          <label class="  pxl-control-label" for="Skills">为这份工作选择最重要的技能和专业</label>
          <div class="pxl-tagsinput-autocomplete control--lg">
             <div class="react-tagsinput">
                <div>
                   <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-Skills" aria-expanded="false" class="react-autosuggest__container">
                      <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-Skills" class="react-tagsinput-input" placeholder="Start by typing an answer" tabindex="0" id="Skills" value="">
                      <div id="react-autowhatever-Skills" role="listbox" class="react-autosuggest__suggestions-container"></div>
                   </div>
                </div>
             </div>
             <div id="Skillsoptions" class="pxl-options pxl-tagsinput-autocomplete__options">
                <div class="pxl-options--horizontal">
                   <label class="pxl-option pxl-option--pills pxl-pill--primary">
                      <input id="JavaScript" type="checkbox" tabindex="0" class="pxl-option__input" value="JavaScript">
                      <div class="pxl-option__text">JavaScript</div>
                   </label>
                   <label class="pxl-option pxl-option--pills pxl-pill--primary">
                      <input id="SQL" type="checkbox" tabindex="0" class="pxl-option__input" value="SQL">
                      <div class="pxl-option__text">SQL</div>
                   </label>
                   <label class="pxl-option pxl-option--pills pxl-pill--primary">
                      <input id="C# Programming Language" type="checkbox" tabindex="0" class="pxl-option__input" value="C# Programming Language">
                      <div class="pxl-option__text">C# Programming Language</div>
                   </label>
                   <label class="pxl-option pxl-option--pills pxl-pill--primary">
                      <input id="Java" type="checkbox" tabindex="0" class="pxl-option__input" value="Java">
                      <div class="pxl-option__text">Java</div>
                   </label>
                   <label class="pxl-option pxl-option--pills pxl-pill--primary">
                      <input id=".NET" type="checkbox" tabindex="0" class="pxl-option__input" value=".NET">
                      <div class="pxl-option__text">.NET</div>
                   </label>
                </div>
                <div class="pxl-margin-top-md pxl-text-center"><a class="load-more">Load More</a></div>
             </div>
          </div>
       </div>
       <div id="" class="pxl-form-group  ">
          <label class="  pxl-control-label" for="Certifications">为这份工作选择最重要的证书（如果有）</label>
          <div class="pxl-tagsinput-autocomplete control--lg">
             <div class="react-tagsinput">
                <div>
                   <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-Certifications" aria-expanded="false" class="react-autosuggest__container">
                      <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-Certifications" class="react-tagsinput-input" placeholder="Start by typing an answer" tabindex="0" id="Certifications" value="">
                      <div id="react-autowhatever-Certifications" role="listbox" class="react-autosuggest__suggestions-container"></div>
                   </div>
                </div>
             </div>
             <div id="Certificationsoptions" class="pxl-options pxl-tagsinput-autocomplete__options">
                <div class="">
                   <label class="pxl-option pxl-option--checklist pxl-option--primary">
                      <input id="Higher National Diploma (HND), Computing (Software Development)" type="checkbox" tabindex="0" class="pxl-option__input" value="Higher National Diploma (HND), Computing (Software Development)">
                      <div class="pxl-option__text">Higher National Diploma (HND), Computing (Software Development)</div>
                   </label>
                   <label class="pxl-option pxl-option--checklist pxl-option--primary">
                      <input id="Microsoft Certified Professional (MCP)" type="checkbox" tabindex="0" class="pxl-option__input" value="Microsoft Certified Professional (MCP)">
                      <div class="pxl-option__text">Microsoft Certified Professional (MCP)</div>
                   </label>
                   <label class="pxl-option pxl-option--checklist pxl-option--primary">
                      <input id="Sun Certified Java Programmer (SCJP)" type="checkbox" tabindex="0" class="pxl-option__input" value="Sun Certified Java Programmer (SCJP)">
                      <div class="pxl-option__text">Sun Certified Java Programmer (SCJP)</div>
                   </label>
                   <label class="pxl-option pxl-option--checklist pxl-option--primary">
                      <input id="Microsoft Certified Solution Developer (MCSD)" type="checkbox" tabindex="0" class="pxl-option__input" value="Microsoft Certified Solution Developer (MCSD)">
                      <div class="pxl-option__text">Microsoft Certified Solution Developer (MCSD)</div>
                   </label>
                   <label class="pxl-option pxl-option--checklist pxl-option--primary">
                      <input id="Certified ScrumMaster (CSM)" type="checkbox" tabindex="0" class="pxl-option__input" value="Certified ScrumMaster (CSM)">
                      <div class="pxl-option__text">Certified ScrumMaster (CSM)</div>
                   </label>
                </div>
                <div class="pxl-margin-top-md pxl-text-center"><a class="load-more">Load More</a></div>
             </div>
          </div>
       </div>
       <div id="" class="pxl-form-group  ">
          <label class="  pxl-control-label" for="ManagementRole">这份工作会监督员工吗？</label>
          <div class="pxl-segmented pxl-segmented--justified control--sm pxl-segmented--primary" data-toggle="buttons"><button type="button" class="pxl-segmented__segment ">是</button><button type="button" class="pxl-segmented__segment ">否</button></div>
       </div>
       <button class="survey-btn--block survey-btn--primary" (click)="next()">下一步</button>
 </div>