<div class="content--full-width">
    <div class="paj-signup__content">
       <div class="paj-signup__left">
          <div class="paj-signup__left__images">
             <p class="paj-signup__left__subheader">我们的薪资报告让您准确了解一份工作的价值。</p>
             <div class="paj-signup__left__images__row">
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/comp-summary-thumb@2x.png" width="225" height="180" alt="Comp summary widget thumbnail">
                   <p class="paj-signup__left__images__caption">基本薪酬和总的现金补偿</p>
                </div>
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/salary-trends-thumb@2x.png" width="225" height="180" alt="Salary trends widget thumbnail">
                   <p class="paj-signup__left__images__caption">随着时间推移的薪资趋势</p>
                </div>
             </div>
             <div class="paj-signup__left__images__row">
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/gender-pay-gap-thumb@2x.png" width="225" height="180" alt="Gender pay gap widget thumbnail">
                   <p class="paj-signup__left__images__caption">性别薪酬差异</p>
                </div>
                <div class="paj-signup__left__images__col">
                   <img src="https://payscale.com/content/vwo/PAJ-Image-Test/job-pathing-thumb@2x.png" width="225" height="180" alt="Career paths widget thumbnail">
                   <p class="paj-signup__left__images__caption">常见的职业道路</p>
                </div>
             </div>
          </div>
       </div>
       <div class="paj-signup__right">
          <div class="signup__header-container">
             <h1 class="signup__header">免费为工作定价</h1>
             <p class="signup__subheader">首先，创建一个帐户。</p>
             <a class="signup__login-link" href="/login.aspx?next=%2Fprice-a-job%3Ftk%3Drc-subnav">现有用户？ 这里登录</a>
             <p class="signup__notice"><strong>注意</strong>: 美国和加拿大以外的数据有限。</p>
          </div>
          <div class="signup">
             <form class="fcidstform signup__form" __bizdiag="0" __biza="W___">
                <div id="" class="pxl-form-group signup__field">
                   <label class=" pxl-control-label" for="">邮箱</label>
                   <input class=" pxl-form-control" type="text" id="email" autocomplete="email" placeholder="you@example.com"  name="email" [(ngModel)]="email">
                </div>
                <div id="" class="pxl-form-group signup__field">
                   <label class=" pxl-control-label" for="">创建密码</label>
                   <input class=" pxl-form-control" type="password" id="password" autocomplete="new-password" name="password" [(ngModel)]="password">
                </div>
                <div id="" class="pxl-form-group signup__field">
                   <label class=" pxl-control-label" for="">名</label>
                   <input class=" pxl-form-control" type="text" id="firstname" autocomplete="given-name" name="firstName" [(ngModel)]="firstName">
                </div>
                <div id="" class="pxl-form-group signup__field">
                   <label class=" pxl-control-label" for="">姓</label>
                   <input class=" pxl-form-control" type="text" id="lastname" autocomplete="family-name" name="lastName" [(ngModel)]="lastName">
                </div>
                <!--
                <div id="" class="pxl-form-group signup__field">
                   <label class=" pxl-control-label" for="">雇员数量</label>
                   <div class="pxl-input-number">
                      <input class=" pxl-input-number__input pxl-form-control" type="number" name="employees" [(ngModel)]="employees">
                   </div>
                </div>
                -->
                <button id="submit" type="button" class="signup__submit" (click)="next()">下一步: 为工作定价</button>
             </form>
             <p class="signup__terms">通过点击 "下一步: 为工作定价", 你同意我们的 <a href="/license">使用条款</a> 和 <a href="/privacy">隐私政策</a>。</p>
          </div>
       </div>
    </div>
 </div>