<app-search-salary 
[title]="'按国家搜索薪资待遇'"
[placeholder]="'输入国家'"
></app-search-salary>
<div class="page rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-breadcrumbs [country]="country"></app-breadcrumbs>
            <app-categories></app-categories>
            <app-find-your-market-worth></app-find-your-market-worth>
            <app-popular-jobs></app-popular-jobs>
            <app-schools-degrees></app-schools-degrees>
            <app-states></app-states>
        </div>
    </div>
</div>