.drift-widget-history-back-button.keyboard-focused svg {
    box-shadow: 0 0 0 2px #2d67b9, 0 0 0 4px #FFFFFF;
border-radius:4px;
  }

  .drift-widget-button.keyboard-focused {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #18969b;
  border-radius:4px;
  }

  .drift-widget-button.keyboard-focused {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #18969b;
  border-radius:4px;
  }

  .drift-widget-composer--default button:hover > svg path {
    fill: #414141
  }
  
  .drift-widget-input.keyboard-focused {
    box-shadow: 0 0 0 2px #FFFFFF, 0 0 0 4px #18969b;
  border-radius:4px;
  }
  
  .drift-widget-composer-send-button.keyboard-focused {
    box-shadow: inset 0 0 0 2px #18969b;
  border-radius:4px;
  }