<div *ngIf="skill">
    <app-skill-sub-nav [skill]="skill"></app-skill-sub-nav>
    <div class="page">
        <div class="content">
            <app-skill-overview [skill]="skill"></app-skill-overview>
            <app-shared-jobs-by-salary [entity]="skill"></app-shared-jobs-by-salary>
            <app-list-table 
            [title]="(skill.namet && skill.namet.zh ? skill.namet.zh : skill.name) + '相关工作的薪酬待遇'"
            [tableTitle]="'工作'"
            [items]="jobItems"
        ></app-list-table>    
        </div>
    </div>
</div>

