.location__row {
    display: -moz-box;
    display: flex;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    flex-flow: row wrap;
    -moz-box-pack: start;
    justify-content: flex-start;
}



.location--weighted {
    font-weight: 700;
}

.location__item {
    -moz-box-flex: 1;
    flex-grow: 1;
    text-decoration: none;
}

.location__card {
    border: 1px solid #e9e9ec;
    border-radius: 3px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: initial;
    cursor: pointer;
    display: -moz-box;
    display: flex;
    flex-basis: 0;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    flex-flow: column nowrap;
    -moz-box-flex: 1;
    flex-grow: 1;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    overflow: hidden;
    padding: 10px;
    -webkit-transition: -webkit-box-shadow .1s;
    transition: -webkit-box-shadow .1s;
    -moz-transition: box-shadow .1s;
    transition: box-shadow .1s;
    transition: box-shadow .1s,-webkit-box-shadow .1s;
}



.location__card--range-text {
    color: #302c2c;
}

.location__card--job {
    height: 90px;
}

.location__card:first-child {
    margin-left: 0;
    margin-right: 10px;
}

.location__card:hover {
    -webkit-box-shadow: 0 0 4px 1px rgb(0 0 0 / 10%), 0 0 12px 2px rgb(0 0 0 / 10%);
    box-shadow: 0 0 4px 1px rgb(0 0 0 / 10%), 0 0 12px 2px rgb(0 0 0 / 10%);
    text-decoration: none;
}

a:hover {
    color: #235090;
}

@media (max-width: 768px) {
    .location__card {
        flex-basis: 40%;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
    }
}

@media (max-width: 768px) {
    .location__card--job {
        flex-basis: auto;
        width: 100%;
    }
}
