<app-page-section [title]="title" [description]="description">
    <div class="location__row">
        <a class="location__item location__card location__card--job" href="/research/CA/Job=Software_Developer/Salary">
            <div class="location--weighted">Software Developer</div>
            <div class="location__card--range-text">Median Hourly Rate: C$49006.31 - C$89715.51</div>
        </a>
        <a class="location__item location__card location__card--job" href="/research/CA/Job=Project_Manager%2C_(Unspecified_Type_%2F_General)/Salary"><div class="location--weighted">Project Manager, (Unspecified Type / General)</div><div class="location__card--range-text">Median Hourly Rate: C$50865.44 - C$107089.38</div></a><a class="location__item location__card location__card--job" href="/research/CA/Job=Operations_Manager/Salary"><div class="location--weighted">Operations Manager</div><div class="location__card--range-text">Median Hourly Rate: C$45453.43 - C$106376.23</div></a></div>
</app-page-section>