<app-menu></app-menu>
<app-search-salary 
[type]="'Certification'"
[countryCode]="countryCode"
[title]="'按证书搜索薪资待遇'"
[selectedCategory]="'证书'"
[placeholder]="'输入证书'"
></app-search-salary>
<div class="page  rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-browse-certifications-by-industry [countryCode]="countryCode"></app-browse-certifications-by-industry>
            <!--
            <app-find-your-market-worth></app-find-your-market-worth>
            <app-related-articles></app-related-articles>
            <app-compensation-best-practices></app-compensation-best-practices>
            -->
            <app-market-worth></app-market-worth>
            <app-popular-searches [countryCode]="countryCode" [type]="'Certification'"></app-popular-searches>
        </div>
    </div>
</div>

<app-what-am-i-worth></app-what-am-i-worth>
<app-footer></app-footer>