<section class="page-section">
    <div class="jobs-table">
        <h2 class="page-subtitle">{{school.name}}的相关工作和薪资待遇</h2>
        <div class="jobs-table__blurb">
            <div class="expandable ">
                <p class="expandable__paragraph"></p>
            </div>
        </div>
        <div class="jobs-table__container">
            <table class="data-table">
                <thead>
                    <tr>
                        <th class=" data-table__header">工作</th>
                        <th class=" data-table__header">范围</th>
                        <th class=" data-table__header">平均值</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="data-table__row">
                        <td class="data-table__cell  ">
                            <span class="data-table__title">工作:</span>
                            <span class="data-table__value">
                                <a href="/research/US/Job=Human_Resources_(HR)_Manager/Salary" data-instant="true">Human Resources (HR) Manager</a>
                            </span>
                        </td>
                        <td class="data-table__cell  ">
                            <span class="data-table__title">范围:</span>
                            <span class="data-table__value">$47k - $90k</span>
                        </td>
                        <td class="data-table__cell  ">
                            <span class="data-table__title">平均值:</span>
                            <span class="data-table__value">$68,516</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="charttable__footer">
            <div class="charttable__footer-item">
                Currency: USD<div class="charttable__footer-divider">•</div>
            </div>
            <div class="charttable__footer-item">
                Updated: Sep 01 2021<div class="charttable__footer-divider">•</div>
            </div>
            <div class="charttable__footer-item">Individuals Reporting: 4,620</div>
        </div>
    </div>
</section>