<div *ngIf="school">
    <app-school-sub-nav [school]="school"></app-school-sub-nav>
    <app-school-overview [school]="school"></app-school-overview>
    <app-market-worth></app-market-worth>
    <app-jobs-by-salary [school]="school"></app-jobs-by-salary>
    <app-shared-related [entity]="school" [typeName]="'学校'"></app-shared-related>
    <app-shared-by-dimension [entity]="school"></app-shared-by-dimension>
    <app-shared-popular-companies [entity]="school"></app-shared-popular-companies>
    <app-about-this-school [school]="school"></app-about-this-school>
</div>
