<div class="banner bg-blue-light text-white p-6 grid grid-cols-4 md:flex flex-row justify-center items-center relative" id="hero_banner">
    <div class="mb-2 flex justify-end text-lg absolute top-4 right-8 cursor-pointer" id="">
        <svg id="close_banner" data-name="Icon ionic-md-close" xmlns="http://www.w3.org/2000/svg" width="10.477" height="10.477" viewBox="0 0 10.477 10.477">
            <path id="Icon_ionic-md-close-2" data-name="Icon ionic-md-close" d="M18,8.571,16.952,7.523l-4.191,4.191L8.571,7.523,7.523,8.571l4.191,4.191L7.523,16.952,8.571,18l4.191-4.191L16.952,18,18,16.952l-4.191-4.191Z" transform="translate(-7.523 -7.523)" fill="#fff"></path>
          </svg>                  
    </div>
    <div class="md:text-lg md:mr-8 light flex-shrink col-span-3 ">
        <!-- PLACE TEXT HERE -->
        <p>了解 Lux 如何联合起来使薪酬更强大</p>
    </div>
    <div class="ban2">
        <!-- URL HERE REPLACE #needslink -->
        <a href="https://discover.payscale.com/hr/payfactors-joins-payscale/" class="btn bg-blue duration-200 hover:bg-red flex flex-col justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="15.43" height="16.258" viewBox="0 0 15.43 16.258">
                <g id="Icon_feather-arrow-right" data-name="Icon feather-arrow-right" transform="translate(1 1.414)">
                  <path id="Path_17426" data-name="Path 17426" d="M7.5,18H20.93" transform="translate(-7.5 -11.285)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                  <path id="Path_17427" data-name="Path 17427" d="M18,7.5l6.715,6.715L18,20.93" transform="translate(-11.285 -7.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                </g>
              </svg>
        </a>
    </div>
</div>
