<app-menu></app-menu>
<app-search-salary 
[title]="'按学校搜索薪资待遇'"
[placeholder]="'输入学校'"
></app-search-salary>
<div class="page  rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-category-breadcrumb [categoryType]="'Certification'" [categoryName]="categoryName" [country]="country"></app-category-breadcrumb>
            <app-popular-certifications [certifications]="certifications" [categoryName]="categoryName" [countryCode]="countryCode"></app-popular-certifications>
        </div>
    </div>
</div>
<app-what-am-i-worth></app-what-am-i-worth>
<app-footer></app-footer>