<div class="d-flex w-100">
    <app-left 
    [title]="'开始薪资调查'"
    [subtitle]="'你知道像你这样的人赚多少钱吗？ 别猜了'"
    [actionText]="'查询'"
    [actionLink]="'/survey/choose'"
    ></app-left>
    <div class="container p-3">
        <div class="row">
            <div class="col col-md-4">   
                <div class="border-bottom pb-1">
                    薪资研究
                </div>
                <div>
                    <a href="/research/US/Employer">
                        <div class="pt-2 pxl-navbar__subnav-link">公司</div>
                     </a>
                     <a href="/research/US/Job">
                        <div class="pxl-navbar__subnav-link">工作</div>
                     </a>
                     <a href="/research/US/Degree">
                        <div class="pxl-navbar__subnav-link">学位</div>
                     </a>
                     <a href="/research/US/Certification">
                        <div class="pxl-navbar__subnav-link">证书</div>
                     </a>
                     <a href="/research/US/Skill">
                        <div class="pxl-navbar__subnav-link">技能</div>
                     </a>
                     <a href="/research/US/Industry">
                        <div class="pxl-navbar__subnav-link">行业</div>
                     </a>
                     <a href="/research/US/School">
                        <div class="pxl-navbar__subnav-link">学校</div>
                     </a>
                </div>
            </div>

            <div class="col col-md-4">
                <div class="border-bottom pb-1">
                    资源中心
                </div>

                <div>
                    <a>
                        <div class="pt-2 pxl-navbar__subnav-link">薪资谈判指南</div>
                     </a>
                     <a>
                        <div class="pxl-navbar__subnav-link">生活成本计算器</div>
                     </a>
                     <a>
                        <div class="pxl-navbar__subnav-link">职业生涯规划师</div>
                     </a>
                     <a>
                        <div class="pxl-navbar__subnav-link">找工作</div>
                     </a>
                </div>
            </div>

            <div class="col col-md-4">
                <div class="border-bottom pb-1">
                    职场博客
                </div>

                <div>
                    <a>
                        <div class="pt-2 pxl-navbar__subnav-link">职业咨询</div>
                     </a>
                     <a>
                        <div class="pxl-navbar__subnav-link">数据分析</div>
                     </a>
                     <a>
                        <div class="pxl-navbar__subnav-link">工作文化</div>
                     </a>
                     <a>
                        <div class="pxl-navbar__subnav-link">职业简介</div>
                     </a>
                     <a>
                        <div class="pxl-navbar__subnav-link">谈判</div>
                     </a>
                </div>
            </div>
        </div>
    </div>
</div>
