<app-menu></app-menu>

<div class="main-container">
    <div class="account__content">
        
        <div class="account__form">
            <div id="notificationDiv"></div>

            <h1 class="account__header">Sign up</h1>
            
            <div class="pxl-form-group">
                <label for="m_email">Email</label>
                <input name="ctl00$mainContent$c_loginForm$m_email" type="email" id="m_email" maxlength="100" class="pxl-form-control" placeholder="you@example.com">
                <span id="ctl00_mainContent_c_loginForm_emailReqd" style="color:Red;display:none;">Email is required.</span>
            </div>
            <div class="pxl-form-group">
                <label for="m_password">Password</label>
                <input name="ctl00$mainContent$c_loginForm$m_password" type="password" id="m_password" maxlength="60" class="pxl-form-control">
                <span id="ctl00_mainContent_c_loginForm_pwdReqd" style="color:Red;display:none;">Password is required.</span>
            </div>
            <div class="pxl-form-group">
                <label for="m_password">Confirm Password</label>
                <input name="ctl00$mainContent$c_loginForm$m_password" type="password" id="m_password" maxlength="60" class="pxl-form-control">
                <span id="ctl00_mainContent_c_loginForm_pwdReqd" style="color:Red;display:none;">Confirm Password is required.</span>
            </div>
            <input type="button" name="ctl00$mainContent$c_loginForm$m_loginSubmit" value="Sign Up" id="m_loginSubmit" class="pxl-btn pxl-btn--primary pxl-btn--block">
            
            <div id="ctl00_mainContent_c_loginForm_m_oauthLogin">
                    

                </div> 
            

            <div class="account__links">
                <a class="account__link account__link--signup" href="/login">Sign In</a>
            </div>
            
        </div>
    
    </div>

    <div class="account__visual">
        <header class="account__headline">Find your worth</header>
        <p class="account__callout">Sign up for free and stay updated on salary trends</p>
    </div>

</div>

<app-footer></app-footer>