<footer id="pxl-footer" class="pxl-footer">
    <div class="pxl-footer__content">
       <div class="pxl-footer__links">
          <div class="pxl-footer__toplinks">
             <a href="/about" class="pxl-footer__toplink-item">关于我们</a>
             <a href="/about/press-releases" class="pxl-footer__toplink-item">新闻中心</a>
             <a href="/about/jobs" class="pxl-footer__toplink-item">招聘中心</a>
             <a href="/about/methodology" class="pxl-footer__toplink-item">方法</a>
             <a href="/about/contact" class="pxl-footer__toplink-item">联系我们</a>
          </div>
          <div class="pxl-footer__sublinks">
              <a href="/research/US/Country=United_States/Salary" class="pxl-footer__sublinks-title">研究中心:</a>
              <a class="pxl-footer__sublink-item" href="/research/US/Job">工作</a>
              <a class="pxl-footer__sublink-item" href="/research/US/Employer">公司</a>
              <a class="pxl-footer__sublink-item" href="/research/US/Degree">学位</a></div>
       </div>
       <div class="pxl-footer__logos">
          <!--
             <img src="//cdn-payscale.com/content/ps-logos/payscale_logo_white.svg" class="pxl-footer__logo" alt="PayScale">
             -->
       </div>
       <div class="pxl-footer__social"><a class="pxl-footer__social-link" href="https://www.facebook.com/PayScale/" rel="nofollow"><img src="//cdn-payscale.com/content/Facebook_Icon.svg" height="15px" alt="Facebook"></a><a class="pxl-footer__social-link" href="https://www.linkedin.com/company/payscale-inc-" rel="nofollow"><img src="//cdn-payscale.com/content/LinkedIn_Icon.svg" height="15px" alt="LinkedIn"></a><a class="pxl-footer__social-link" href="https://twitter.com/payscale" rel="nofollow"><img src="//cdn-payscale.com/content/Twitter_Icon.svg" height="15px" alt="Twitter"></a><a class="pxl-footer__social-link" href="https://www.instagram.com/payscale/" rel="nofollow"><img src="//cdn-payscale.com/content/Instagram_Icon.svg" height="15px" alt="Instagram"></a></div>
    </div>
    <div class="pxl-footer__legal">
       <div class="pxl-footer__copyright">© <span class="pxl-footer__copyright-year">2021</span> Lux, Inc. 版权所有.</div>
       <ul class="pxl-footer__privacy">
          <li class="pxl-footer__privacy-item"><a class="pxl-footer__privacy-link" href="/data-protection">数据保护</a></li>
          <li class="pxl-footer__privacy-item"><a class="pxl-footer__privacy-link" href="/privacy">隐私策略</a></li>
          <li class="pxl-footer__privacy-item"><a class="pxl-footer__privacy-link" href="/license">使用条款</a></li>
       </ul>
    </div>
 </footer>