<app-menu></app-menu>
<app-search-salary 
[title]="'按工作搜索薪资待遇'"
[placeholder]="'输入工作'"
></app-search-salary>
<div class="page  rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-category-breadcrumb [categoryType]="'Employer'" [categoryName]="categoryName" [country]="country"></app-category-breadcrumb>
            <app-category-popular-employers [employers]="employers" [categoryName]="categoryName" [countryCode]="countryCode"></app-category-popular-employers>
        </div>
    </div>
</div>
<app-what-am-i-worth></app-what-am-i-worth>
<app-footer></app-footer>