<header id="banner" class="banner banner--static">
  <div id="header" data-header-style="white">
     <nav id="navbar" class="pxl-navbar pxl-navbar--white" [ngClass]="showMobileMenu ? 'pxl-navbar--active' : ''">
        <div class="pxl-navbar__branding">
           <a href="/">
            <!--
              <svg xmlns="http://www.w3.org/2000/svg" class="pxl-navbar__logo" viewBox="0 0 329.143 95.108">
                 <g id="Group_11297" data-name="Group 11297" transform="translate(-1459 -731.075)">
                    <path id="Path_17404" data-name="Path 17404" d="M92.714,6.113A6.114,6.114,0,1,1,86.6,0h0a6.114,6.114,0,0,1,6.114,6.113" transform="translate(1430.919 731.075)" fill="#294258"></path>
                    <path id="Path_17405" data-name="Path 17405" d="M92.714,59.768A6.114,6.114,0,1,1,86.6,53.657h0a6.114,6.114,0,0,1,6.114,6.111" transform="translate(1430.919 712.354)" fill="#294258"></path>
                    <path id="Path_17406" data-name="Path 17406" d="M92.714,32.945A6.114,6.114,0,1,1,86.6,26.832h0a6.115,6.115,0,0,1,6.114,6.113" transform="translate(1430.919 721.714)" fill="#294258"></path>
                    <path id="Path_17407" data-name="Path 17407" d="M92.714,86.6A6.114,6.114,0,1,1,86.6,80.49h0A6.12,6.12,0,0,1,92.714,86.6" transform="translate(1430.919 702.992)" fill="#294258"></path>
                    <path id="Path_17408" data-name="Path 17408" d="M92.715,113.428a6.117,6.117,0,0,1-6.12,6.113c-.059,0-.118,0-.178,0a6.18,6.18,0,0,1-5.925-5.948,6.113,6.113,0,1,1,12.222-.309q0,.073,0,.146" transform="translate(1430.917 693.631)" fill="#294258"></path>
                    <path id="Path_17409" data-name="Path 17409" d="M65.885,59.768a6.114,6.114,0,1,1-6.116-6.111h0a6.114,6.114,0,0,1,6.113,6.111" transform="translate(1440.28 712.354)" fill="#294258"></path>
                    <path id="Path_17410" data-name="Path 17410" d="M65.885,86.6a6.114,6.114,0,1,1-6.114-6.114h0A6.12,6.12,0,0,1,65.885,86.6" transform="translate(1440.28 702.992)" fill="#294258"></path>
                    <path id="Path_17411" data-name="Path 17411" d="M65.885,113.436a6.114,6.114,0,1,1-6.115-6.113h0a6.116,6.116,0,0,1,6.113,6.113" transform="translate(1440.28 693.631)" fill="#294258"></path>
                    <path id="Path_17412" data-name="Path 17412" d="M39.056,86.6a6.114,6.114,0,1,1-6.114-6.114h0A6.12,6.12,0,0,1,39.056,86.6" transform="translate(1449.641 702.992)" fill="#294258"></path>
                    <path id="Path_17413" data-name="Path 17413" d="M39.056,113.436a6.114,6.114,0,1,1-6.115-6.113h0a6.116,6.116,0,0,1,6.114,6.113" transform="translate(1449.641 693.631)" fill="#294258"></path>
                    <path id="Path_17414" data-name="Path 17414" d="M12.227,59.768A6.114,6.114,0,1,1,6.11,53.657h0a6.114,6.114,0,0,1,6.113,6.111" transform="translate(1459.001 712.354)" fill="#294258"></path>
                    <path id="Path_17415" data-name="Path 17415" d="M12.227,86.6A6.114,6.114,0,1,1,6.113,80.49h0A6.121,6.121,0,0,1,12.227,86.6" transform="translate(1459.001 702.992)" fill="#294258"></path>
                    <path id="Path_17416" data-name="Path 17416" d="M12.227,113.436a6.114,6.114,0,1,1-6.115-6.113h0a6.116,6.116,0,0,1,6.113,6.113" transform="translate(1459.001 693.631)" fill="#294258"></path>
                    <path id="Path_17511" data-name="Path 17511" d="M159.483,93.262c0,9.089-6.895,16.045-15.192,16.045a12.654,12.654,0,0,1-10.678-5.124v17.834h-6.587V78.01h6.59V82.4a12.537,12.537,0,0,1,10.678-5.185C152.588,77.217,159.483,84.232,159.483,93.262Zm-6.59,0a9.637,9.637,0,1,0-9.636,9.761A9.426,9.426,0,0,0,152.893,93.262Z" transform="translate(1414.682 704.135)" fill="#294258"></path>
                    <path id="Path_17512" data-name="Path 17512" d="M214.957,78.01v30.5h-6.588v-4.392a12.537,12.537,0,0,1-10.678,5.185c-8.3,0-15.192-7.016-15.192-16.045,0-9.09,6.894-16.045,15.192-16.045a12.654,12.654,0,0,1,10.678,5.124V78.01Zm-6.588,15.252a9.637,9.637,0,1,0-9.636,9.761A9.426,9.426,0,0,0,208.369,93.262Z" transform="translate(1395.327 704.135)" fill="#294258"></path>
                    <path id="Path_17642" data-name="Path 17642" d="M262.834,78.434l-8.9,21.782-8.941-21.785h-7.2l12.865,29.8-5.821,14.243h6.684l18.513-44.038Z" transform="translate(1376.036 703.711)" fill="#294258"></path>
                    <path id="Path_17514" data-name="Path 17514" d="M312.266,99.911c0,6.1-5.307,9.4-11.9,9.4-6.1,0-10.492-2.746-12.445-7.137l5.674-3.294c.977,2.744,3.416,4.392,6.771,4.392,2.93,0,5.186-.977,5.186-3.417,0-5.43-16.408-2.38-16.408-13.3,0-5.736,4.941-9.334,11.164-9.334,5,0,9.151,2.319,11.286,6.344l-5.553,3.112a5.944,5.944,0,0,0-5.733-3.478c-2.38,0-4.454,1.037-4.454,3.234C295.856,91.98,312.266,88.625,312.266,99.911Z" transform="translate(1358.544 704.135)" fill="#3880ee"></path>
                    <path id="Path_17515" data-name="Path 17515" d="M329.44,93.262a15.739,15.739,0,0,1,16.106-16.045,15.069,15.069,0,0,1,13.6,7.87l-5.673,3.295a8.532,8.532,0,0,0-7.992-4.7,9.3,9.3,0,0,0-9.459,9.149c0,.143,0,.286,0,.43a9.305,9.305,0,0,0,9.026,9.576c.143,0,.286.005.43,0a8.953,8.953,0,0,0,8.114-4.7l5.673,3.233a15.336,15.336,0,0,1-13.727,7.932,15.774,15.774,0,0,1-16.1-15.438C329.437,93.666,329.437,93.464,329.44,93.262Z" transform="translate(1344.061 704.135)" fill="#3880ee"></path>
                    <path id="Path_17516" data-name="Path 17516" d="M410.718,78.01v30.5H404.13v-4.392a12.538,12.538,0,0,1-10.678,5.185c-8.3,0-15.191-7.016-15.191-16.045,0-9.09,6.894-16.045,15.191-16.045A12.653,12.653,0,0,1,404.13,82.34V78.01ZM404.13,93.262a9.637,9.637,0,1,0-9.636,9.761A9.427,9.427,0,0,0,404.13,93.262Z" transform="translate(1327.026 704.135)" fill="#3880ee"></path>
                    <path id="Path_17517" data-name="Path 17517" d="M438.988,56.01h6.589v45.1h-6.589Z" transform="translate(1305.839 711.533)" fill="#3880ee"></path>
                    <path id="Path_17518" data-name="Path 17518" d="M473.915,103.269a9.311,9.311,0,0,0,7.87-3.783l5.43,3.173c-2.806,4.148-7.382,6.65-13.36,6.65-10.067,0-16.594-6.894-16.594-16.045,0-9.029,6.527-16.045,16.106-16.045,9.09,0,15.313,7.321,15.313,16.106a19.981,19.981,0,0,1-.244,2.744H464.154C465.191,100.827,469.034,103.269,473.915,103.269ZM482.03,90.7a8.489,8.489,0,0,0-8.725-7.5,8.869,8.869,0,0,0-9.212,7.5Z" transform="translate(1299.463 704.134)" fill="#3880ee"></path>
                 </g>
              </svg>
              -->
           </a>
        </div>
        <div class="pxl-navbar__content">
           <ul class="pxl-navbar__nav">
              <li id="personal-nav" class="pxl-navbar__nav-item ">
                 <div class="pxl-navbar__nav-item-content">
                    <a class="pxl-navbar__nav-link">个人用户</a>
                    <div class="pxl-navbar__nav-x"></div>
                 </div>
                 <div class="pxl-navbar__subnav">
                    <div class="pxl-navbar__cta">
                       <div class="pxl-navbar__cta-item" id="foryoucta">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">开始薪资调查</div>
                             <p class="pxl-navbar__cta-copy">你知道像你这样的人赚多少钱吗？ 别猜了</p>
                             <a href="/wizards/choose.aspx?tk=header-ps" id="foryouctacta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--consumer">查询</a>
                          </div>
                          <a href="/wizards/choose.aspx?tk=header-ps" id="foryouctactaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--consumer">开始薪资调查</a>
                       </div>
                    </div>
                    <div class="pxl-navbar__subnav-sections">
                       <div id="salaryResearch" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/research">薪资研究</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/research/US/employer" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">公司</div>
                                </div>
                             </a>
                             <a href="/research/US/job" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">工作职位</div>
                                </div>
                             </a>
                             <a href="/research/US/degree" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">学位</div>
                                </div>
                             </a>
                             <a href="/research/US/certification" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">证书</div>
                                </div>
                             </a>
                             <a href="/research/US/skill" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">技能</div>
                                </div>
                             </a>
                             <a href="/research/US/industry" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">行业</div>
                                </div>
                             </a>
                             <a href="/research/US/school" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">学校</div>
                                </div>
                             </a>
                          </div>
                          <a href="/research" class="pxl-navbar__subnav-all">查看所有 »</a>
                       </div>
                       <div id="personalResources" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/salary">Resources</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/salary-negotiation-guide" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Salary Negotiation Guide</div>
                                </div>
                             </a>
                             <a href="/cost-of-living-calculator" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Cost of Living Calculator</div>
                                </div>
                             </a>
                             <a href="/career-path-planner" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Career Path Planner</div>
                                </div>
                             </a>
                             <a href="/job-search-engine" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Find Jobs</div>
                                </div>
                             </a>
                             <a href="/events?type=b2c" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Events</div>
                                </div>
                             </a>
                          </div>
                          <a href="/salary" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                       <div id="careerNews" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/career-news">Career News Blog</a>
                          <div class="pxl-navbar__subnav-subheader">Browse By Topic:</div>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/career-news/topic/career-advice" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Career Advice</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/career-profiles" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Career Profiles</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/current-events" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Current Events</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/data-research" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Data &amp; Research</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/negotiation" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Negotiation</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/work-culture" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Work Culture</div>
                                </div>
                             </a>
                          </div>
                          <a href="/career-news" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                    </div>
                 </div>
              </li>
              <li id="business-nav" class="pxl-navbar__nav-item ">
                 <div class="pxl-navbar__nav-item-content">
                    <a class="pxl-navbar__nav-link">企业用户</a>
                    <div class="pxl-navbar__nav-x"></div>
                 </div>
                 <div class="pxl-navbar__subnav">
                    <div class="pxl-navbar__cta">
                       <div class="pxl-navbar__cta-item" id="getademo">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">Get a Demo</div>
                             <p class="pxl-navbar__cta-copy">Get pay right with Lux.</p>
                             <a href="http://resources.payscale.com/hr-request-a-demo.html?tk=rc-header-nav" id="getademocta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--b2b">Get Started</a>
                          </div>
                          <a href="http://resources.payscale.com/hr-request-a-demo.html?tk=rc-header-nav" id="getademoctaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--b2b">Get a Demo</a>
                       </div>
                       <div class="pxl-navbar__cta-item" id="priceajob">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">Price a Job for Free</div>
                             <p class="pxl-navbar__cta-copy">Eliminate compensation guesswork.</p>
                             <a href="/price-a-job?tk=ps-header" id="priceajobcta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--b2b">Get Started</a>
                          </div>
                          <a href="/price-a-job?tk=ps-header" id="priceajobctaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--b2b">Price a Job</a>
                       </div>
                    </div>
                    <div class="pxl-navbar__subnav-sections">
                       <div id="compensationSoftware" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/hr/compensation-software">Compensation Software</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/hr/insight-lab" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Insight Lab</div>
                                   <p class="pxl-navbar__subnav-desc">Fresh market data paired with robust analytics.</p>
                                </div>
                             </a>
                             <a href="/hr/team" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Team</div>
                                   <p class="pxl-navbar__subnav-desc">Compensation collaboration in the cloud.</p>
                                </div>
                             </a>
                             <a href="/hr/marketpay" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">MarketPay</div>
                                   <p class="pxl-navbar__subnav-desc">Survey management &amp; participation.</p>
                                </div>
                             </a>
                          </div>
                          <a href="/hr/compensation-software" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                       <div id="hrResources" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/hr">Resources</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/compference" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Compference</div>
                                   <p class="pxl-navbar__subnav-desc">The event for compensation changemakers.</p>
                                </div>
                             </a>
                             <a href="https://payscale.influitive.com/users/sign_in" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Comptopia Community</div>
                                   <p class="pxl-navbar__subnav-desc">Plug into compensation conversations.</p>
                                </div>
                             </a>
                             <a href="/hr/customers" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Customer Testimonials</div>
                                   <p class="pxl-navbar__subnav-desc">See why customers love us.</p>
                                </div>
                             </a>
                          </div>
                          <a href="/hr" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                       <div id="compensationAdvice" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/compensation-today">Compensation Today Blog</a>
                          <div class="pxl-navbar__subnav-subheader">Browse By Topic:</div>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/compensation-today/topic/comp-communication" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Comp Communication</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/comp-strategy" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Comp Strategy</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/growth" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Growth</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/modernizing-comp" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Modernizing Comp</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/pay-equity" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Pay Equity</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/recession" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Recession</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/retention" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Retention</div>
                                </div>
                             </a>
                          </div>
                          <a href="/compensation-today" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                    </div>
                 </div>
              </li>
              <li id="data-nav" class="pxl-navbar__nav-item ">
                 <div class="pxl-navbar__nav-item-content">
                    <a class="pxl-navbar__nav-link">Compensation Research</a>
                    <div class="pxl-navbar__nav-x"></div>
                 </div>
                 <div class="pxl-navbar__subnav">
                    <div class="pxl-navbar__cta">
                       <div class="pxl-navbar__cta-item" id="compbestpractices">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">Annual Compensation Best Practices Report</div>
                             <p class="pxl-navbar__cta-copy">The largest survey in North America on compensation topics and trends</p>
                             <a href="/cbpr" id="compbestpracticescta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--b2b">Learn More</a>
                          </div>
                          <a href="/cbpr" id="compbestpracticesctaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--b2b">See Comp Best Practices</a>
                       </div>
                    </div>
                    <div class="pxl-navbar__subnav-sections">
                       <div id="originalResearch" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/data">Original PayScale Research</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/data/remote-work" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-paper-plane pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Remote Work Report</div>
                                   <p class="pxl-navbar__subnav-desc">Guidance on remote work pay strategies.</p>
                                </div>
                             </a>
                             <a href="/data/covid-wage-growth" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-temperatire pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">COVID Wage Growth Report</div>
                                   <p class="pxl-navbar__subnav-desc">How the pandemic has affected wages across the U.S.</p>
                                </div>
                             </a>
                             <a href="/data/pay-transparency" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-gauge pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Pay Transparency Report </div>
                                   <p class="pxl-navbar__subnav-desc">Does pay transparency close the gender wage gap?</p>
                                </div>
                             </a>
                             <a href="/college-salary-report" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-graduation-cap pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">College Salary Report</div>
                                   <p class="pxl-navbar__subnav-desc">Which alumni earn the most after graduation?</p>
                                </div>
                             </a>
                             <a href="/data/fair-pay-impact" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-star pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Fair Pay Impact Report</div>
                                   <p class="pxl-navbar__subnav-desc">How perceptions of fair pay impact retention.</p>
                                </div>
                             </a>
                             <a href="/data/gender-pay-gap" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-chart-line pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Gender Pay Gap</div>
                                   <p class="pxl-navbar__subnav-desc">Understand what's truly driving the gender pay gap.</p>
                                </div>
                             </a>
                             <a href="/payscale-index" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-chart-arrow pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">PayScale Index</div>
                                   <p class="pxl-navbar__subnav-desc">Follow wage changes of U.S. workers over time.</p>
                                </div>
                             </a>
                             <a href="/data/salary-history" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-clock pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Salary History</div>
                                   <p class="pxl-navbar__subnav-desc">How the salary history question affects pay equity.</p>
                                </div>
                             </a>
                             <a href="/data/how-to-ask-for-a-raise" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-dollar pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Raise Anatomy Report</div>
                                   <p class="pxl-navbar__subnav-desc">Improve your chances of receiving a raise when you ask.</p>
                                </div>
                             </a>
                          </div>
                          <a href="/data" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                    </div>
                 </div>
              </li>
           </ul>
           <div id="ps-navbar-logout" class="pxl-navbar__logout pxl-navbar__logout--out"><a class="pxl-navbar__logout-link" href="/logout.aspx">Logout</a></div>
           <a id="psNavGetADemo" href="http://resources.payscale.com/hr-request-a-demo.html?src=ps-navbar" class="pxl-navbar__demo-btn--mobile">Get a Demo</a>
        </div>
        <div class="pxl-navbar__right">
           <a id="psNavBarDashboard" href="https://insight.payscale.com" class="pxl-navbar__business-dashboard hidden">Business Dashboard</a><a id="psNavGetADemo" href="http://resources.payscale.com/hr-request-a-demo.html?src=ps-navbar" class="pxl-navbar__demo-btn">Get a Demo</a>
           <li id="psNavBarMyAccount" class="pxl-navbar__nav-item pxl-navbar__account hidden">
              <div class="pxl-navbar__nav-item-content"><a class="pxl-navbar__nav-link">My Account</a></div>
              <div class="pxl-navbar__subnav pxl-navbar__subnav--account"><a class="pxl-navbar__subnav-link" href="/logout.aspx">Logout</a><a class="pxl-navbar__subnav-link" href="/myaccount.aspx">My Account</a><a class="pxl-navbar__subnav-link" href="/mypayscale.aspx">My Salary Reports</a></div>
           </li>
           <a id="psNavBarLogin" href="/login.aspx" class="pxl-navbar__login">Log In</a><a id="psNavBarMyReports" href="/mypayscale.aspx" class="pxl-navbar__myreports hidden">My Reports</a><a id="psNavBarLogout" href="/logout.aspx" class="pxl-navbar__logout hidden">Log Out</a>
           <div id="psNavBarMobileMenu" class="pxl-navbar__menu--mobile" (click)="toggleMenu()">Menu</div>
        </div>
     </nav>
  </div>
</header>