<!--
<nav class="d-flex justify-content-between align-items-center"  *ngIf="!showMobileMenuNew" >
   <div class="d-none d-md-block">
      <ul class="d-flex">

         <li class="menu-item px-3">
            <a class="nav-item">
               用户中心
            </a>
            <div class="sub-nav">
               <app-user-center class="w-100"></app-user-center>
            </div>
         </li>
         <li class="menu-item px-3">
            <a class="nav-item">
               薪酬研究
            </a>
            <div class="sub-nav">
               <app-salary-research class="w-100"></app-salary-research>
            </div>
         </li>
      </ul>
   </div>
   <div>
      <ul>
         <li class="d-none d-md-block">
            <a class="menu-item" href="/login">
               登录
            </a>
         </li>
         <li class="d-block px-3 d-md-none" (click)="toggleMenuNew()">
            <a class="nav-item">
               菜单
            </a>

         </li>
      </ul>

   </div>


</nav>
-->
<app-mobile *ngIf="showMobileMenuNew" class="mobile-menu"></app-mobile>
<header>
  <div>
     <nav class="pxl-navbar pxl-navbar--white" [ngClass]="showMobileMenu ? 'pxl-navbar--active' : ''">

        <div class="pxl-navbar__content">
           <ul class="pxl-navbar__nav">
              <li id="personal-nav" class="pxl-navbar__nav-item " (click)="toggleActiveTab('personal')" [ngClass]="activeTab=='personal' ? 'pxl-navbar__nav-item--active' : ''">
                 <div class="pxl-navbar__nav-item-content">
                    <a class="pxl-navbar__nav-link">用户中心</a>
                    <div class="pxl-navbar__nav-x"></div>
                 </div>
                 <div class="pxl-navbar__subnav">
                    <div class="pxl-navbar__cta">
                       <div class="pxl-navbar__cta-item" id="foryoucta">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">开始薪资调查</div>
                             <p class="pxl-navbar__cta-copy">你知道像你这样的人赚多少钱吗？ 别猜了</p>
                             <a href="/survey/choose" id="foryouctacta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--consumer">查询</a>
                          </div>
                          <a href="/survey/choose" id="foryouctactaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--consumer">开始薪资调查</a>
                       </div>
                    </div>
                    <div class="pxl-navbar__subnav-sections">
                       <div id="salaryResearch" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/research">薪资研究</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/research/US/Employer" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">公司</div>
                                </div>
                             </a>
                             <a href="/research/US/Job" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">工作</div>
                                </div>
                             </a>
                             <a href="/research/US/Degree" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">学位</div>
                                </div>
                             </a>
                             <a href="/research/US/Certification" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">证书</div>
                                </div>
                             </a>
                             <a href="/research/US/Skill" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">技能</div>
                                </div>
                             </a>
                             <a href="/research/US/Industry" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">行业</div>
                                </div>
                             </a>
                             <a href="/research/US/School" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">学校</div>
                                </div>
                             </a>
                          </div>
                          <a href="/research" class="pxl-navbar__subnav-all">查看所有 »</a>
                       </div>
                       <div id="personalResources" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/salary">资源中心</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/salary-negotiation-guide" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">薪资谈判指南</div>
                                </div>
                             </a>
                             <a href="/cost-of-living-calculator" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">生活成本计算器</div>
                                </div>
                             </a>
                             <a href="/career-path-planner" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">职业生涯规划师</div>
                                </div>
                             </a>
                             <a href="/job-search-engine" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">找工作</div>
                                </div>
                             </a>
                          </div>
                          <a href="/salary" class="pxl-navbar__subnav-all">查看所有 »</a>
                       </div>
                       <div id="careerNews" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/career-news">职场博客</a>
                          <div class="pxl-navbar__subnav-subheader">按主题分类浏览:</div>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/career-news/topic/career-advice" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">职业咨询</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/career-profiles" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">职业简介</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/data-research" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">数据分析</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/negotiation" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">谈判</div>
                                </div>
                             </a>
                             <a href="/career-news/topic/work-culture" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">工作文化</div>
                                </div>
                             </a>
                          </div>
                          <a href="/career-news" class="pxl-navbar__subnav-all">查看所有 »</a>
                       </div>
                    </div>
                 </div>
              </li>
              <!--
              <li id="business-nav" class="pxl-navbar__nav-item ">
                 <div class="pxl-navbar__nav-item-content">
                    <a class="pxl-navbar__nav-link">企业用户</a>
                    <div class="pxl-navbar__nav-x"></div>
                 </div>
                 <div class="pxl-navbar__subnav">
                    <div class="pxl-navbar__cta">
                       <div class="pxl-navbar__cta-item" id="getademo">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">Get a Demo</div>
                             <p class="pxl-navbar__cta-copy">Get pay right with Lux.</p>
                             <a href="http://resources.payscale.com/hr-request-a-demo.html?tk=rc-header-nav" id="getademocta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--b2b">Get Started</a>
                          </div>
                          <a href="http://resources.payscale.com/hr-request-a-demo.html?tk=rc-header-nav" id="getademoctaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--b2b">Get a Demo</a>
                       </div>
                       <div class="pxl-navbar__cta-item" id="priceajob">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">Price a Job for Free</div>
                             <p class="pxl-navbar__cta-copy">Eliminate compensation guesswork.</p>
                             <a href="/price-a-job?tk=ps-header" id="priceajobcta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--b2b">Get Started</a>
                          </div>
                          <a href="/price-a-job?tk=ps-header" id="priceajobctaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--b2b">Price a Job</a>
                       </div>
                    </div>
                    <div class="pxl-navbar__subnav-sections">
                       <div id="compensationSoftware" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/hr/compensation-software">Compensation Software</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/hr/insight-lab" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Insight Lab</div>
                                   <p class="pxl-navbar__subnav-desc">Fresh market data paired with robust analytics.</p>
                                </div>
                             </a>
                             <a href="/hr/team" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Team</div>
                                   <p class="pxl-navbar__subnav-desc">Compensation collaboration in the cloud.</p>
                                </div>
                             </a>
                             <a href="/hr/marketpay" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">MarketPay</div>
                                   <p class="pxl-navbar__subnav-desc">Survey management &amp; participation.</p>
                                </div>
                             </a>
                          </div>
                          <a href="/hr/compensation-software" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                       <div id="hrResources" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/hr">Resources</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/compference" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Compference</div>
                                   <p class="pxl-navbar__subnav-desc">The event for compensation changemakers.</p>
                                </div>
                             </a>
                             <a href="https://payscale.influitive.com/users/sign_in" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Comptopia Community</div>
                                   <p class="pxl-navbar__subnav-desc">Plug into compensation conversations.</p>
                                </div>
                             </a>
                             <a href="/hr/customers" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Customer Testimonials</div>
                                   <p class="pxl-navbar__subnav-desc">See why customers love us.</p>
                                </div>
                             </a>
                          </div>
                          <a href="/hr" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                       <div id="compensationAdvice" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/compensation-today">Compensation Today Blog</a>
                          <div class="pxl-navbar__subnav-subheader">Browse By Topic:</div>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/compensation-today/topic/comp-communication" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Comp Communication</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/comp-strategy" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Comp Strategy</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/growth" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Growth</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/modernizing-comp" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Modernizing Comp</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/pay-equity" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Pay Equity</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/recession" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Recession</div>
                                </div>
                             </a>
                             <a href="/compensation-today/topic/retention" class="pxl-navbar__subnav-item">
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">Retention</div>
                                </div>
                             </a>
                          </div>
                          <a href="/compensation-today" class="pxl-navbar__subnav-all">See all »</a>
                       </div>
                    </div>
                 </div>
              </li>
              -->
              <li id="data-nav" class="pxl-navbar__nav-item " (click)="toggleActiveTab('survey')" [ngClass]="activeTab=='survey' ? 'pxl-navbar__nav-item--active' : ''">
                 <div class="pxl-navbar__nav-item-content">
                    <a class="pxl-navbar__nav-link">薪酬研究</a>
                    <div class="pxl-navbar__nav-x"></div>
                 </div>
                 <div class="pxl-navbar__subnav">
                    <div class="pxl-navbar__cta">
                       <div class="pxl-navbar__cta-item" id="compbestpractices">
                          <div class="pxl-navbar__cta-desktop">
                             <div class="pxl-navbar__cta-header">年度薪酬最佳实践报告</div>
                             <p class="pxl-navbar__cta-copy">北美最大的关于薪酬主题和趋势的调查</p>
                             <a href="/cbpr" id="compbestpracticescta" class="pxl-navbar__cta-btn pxl-navbar__cta-btn--b2b">查看更多</a>
                          </div>
                          <a href="/cbpr" id="compbestpracticesctaMobile" class="pxl-navbar__cta-btn pxl-navbar__cta-mobile pxl-navbar__cta-btn--b2b">See Comp Best Practices</a>
                       </div>
                    </div>
                    <div class="pxl-navbar__subnav-sections">
                       <div id="originalResearch" class="pxl-navbar__subnav-section">
                          <a class="pxl-navbar__subnav-header" href="/data">原创性研究</a>
                          <div class="pxl-navbar__subnav-items">
                             <a href="/data/remote-work" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-paper-plane pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">远程工作报告</div>
                                   <p class="pxl-navbar__subnav-desc">远程工作薪酬策略指南。</p>
                                </div>
                             </a>
                             <a href="/data/covid-wage-growth" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-temperatire pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">COVID工资增长报告</div>
                                   <p class="pxl-navbar__subnav-desc">大流行如何影响美国各地的工资</p>
                                </div>
                             </a>
                             <a href="/data/pay-transparency" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-gauge pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">薪酬透明度报告 </div>
                                   <p class="pxl-navbar__subnav-desc">薪酬透明度能否缩小性别工资差距？</p>
                                </div>
                             </a>
                             <a href="/college-salary-report" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-graduation-cap pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">大学薪资报告</div>
                                   <p class="pxl-navbar__subnav-desc">哪些校友毕业后收入最高？</p>
                                </div>
                             </a>
                             <a href="/data/fair-pay-impact" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-star pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">公平薪酬影响报告</div>
                                   <p class="pxl-navbar__subnav-desc">对公平薪酬的看法如何影响保留。</p>
                                </div>
                             </a>
                             <a href="/data/gender-pay-gap" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-chart-line pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">性别薪酬差距</div>
                                   <p class="pxl-navbar__subnav-desc">了解真正导致性别薪酬差距的因素。</p>
                                </div>
                             </a>
                             <a href="/payscale-index" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-chart-arrow pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">薪资指数</div>
                                   <p class="pxl-navbar__subnav-desc">随着时间的推移，跟踪美国工人的工资变化。</p>
                                </div>
                             </a>
                             <a href="/data/salary-history" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-clock pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">薪资历史</div>
                                   <p class="pxl-navbar__subnav-desc">工资历史问题如何影响薪酬公平。</p>
                                </div>
                             </a>
                             <a href="/data/how-to-ask-for-a-raise" class="pxl-navbar__subnav-item pxl-navbar__subnav-item--desc">
                                <i class="icon-dollar pxl-navbar__subnav-icon"></i>
                                <div class="pxl-navbar__subnav-text">
                                   <div class="pxl-navbar__subnav-link">薪资提升报告</div>
                                   <p class="pxl-navbar__subnav-desc">提高你获得加薪的机会。</p>
                                </div>
                             </a>
                          </div>
                          <a href="/data" class="pxl-navbar__subnav-all">查看所有 »</a>
                       </div>
                    </div>
                 </div>
              </li>
           </ul>
           <div id="ps-navbar-logout" class="pxl-navbar__logout pxl-navbar__logout--out"><a class="pxl-navbar__logout-link" href="/logout.aspx">注销</a></div>
        </div>
        <div class="pxl-navbar__right">

           <li id="psNavBarMyAccount" class="pxl-navbar__nav-item pxl-navbar__account hidden">
              <div class="pxl-navbar__nav-item-content"><a class="pxl-navbar__nav-link">我的账户</a></div>
              <div class="pxl-navbar__subnav pxl-navbar__subnav--account">
                 <a class="pxl-navbar__subnav-link" href="/logout.aspx">注销</a>
                 <a class="pxl-navbar__subnav-link" href="/myaccount.aspx">我的账户</a>
                 <a class="pxl-navbar__subnav-link" href="/mypayscale.aspx">我的薪酬报告</a>
               </div>
           </li>
           <a id="psNavBarLogin" href="/login.aspx" class="pxl-navbar__login">登录</a>
           <a id="psNavBarMyReports" href="/mypayscale.aspx" class="pxl-navbar__myreports hidden">我的报告</a>
           <a id="psNavBarLogout" href="/logout.aspx" class="pxl-navbar__logout hidden">注销</a>
           <div id="psNavBarMobileMenu" class="pxl-navbar__menu--mobile" (click)="toggleMenu()">菜单</div>
        </div>
     </nav>
  </div>
</header>