<app-page-section [title]="title" [description]="description" *ngIf="items">
    <div class="carousel related-carousel defaultv2-related-carousel" role="listbox">
        <div class="carousel__content" style="width: 606px;">
        <div class="carousel__arrow carousel__arrow--left carousel__arrow--invisible" (click)="moveLeft()">
            <span role="button" aria-label="View previous items">‹</span>
            </div>
        <div class="carousel__items-window">
            <div class="carousel__items" [ngStyle]="{transform: 'translate(' + pos + 'px)'}">
                <a data-instant="true" class="related-content-card" *ngFor="let item of items" href="{{getUrl(item.url)}}">
                    <div class="related-content-card__image-container">
                    <div class="lazyload-wrapper ">
                        <img class="conux-logo related-content-card__image-container__image" src="{{item.image}}" alt="{{item.title}}"></div>
                    </div>
                    <div class="related-content-card__title">{{item.title}}</div>
                    <div class="related-content-card__subtitle">{{item.subtitle}}: {{item.content}}</div>
                </a>
            </div>
        </div>
        <div class="carousel__arrow carousel__arrow--right " (click)="moveRight()">
            <span role="button" aria-label="View next items">›</span>
            </div>
        </div>
        <div class="carousel__indicator__window">
        <div class="carousel__indicator__dots" [ngStyle]="{transform: 'translate(' + posIndicator + 'px)'}">
            <div class="carousel__indicator__dot__container">
                <div class="carousel__indicator__dot selected"></div>
            </div>
            <div class="carousel__indicator__dot__container">
                <div class="carousel__indicator__dot "></div>
            </div>
            <div class="carousel__indicator__dot__container">
                <div class="carousel__indicator__dot small"></div>
            </div>
        </div>
        </div>
    </div>
</app-page-section>