<h1 class="text-center py-3">人口统计</h1>
<div class="form-group mb-3">
   <label class="font-weight-bold">您的年龄（岁）</label>
   <input type="number" class="form-control" name="age" [(ngModel)]="age">
</div>

<div class="form-group mb-3">
   <app-select [(ngModel)]="gender" [title]="'性别'" [options]="genderOptions"></app-select>
</div>

<div class="form-group mb-3">
   <app-switch [title]="'你有美国军事经验吗？'" [(ngModel)]="militaryExperience"></app-switch>
</div> 

<div class="form-group mb-3">
   <label class="font-weight-bold">5年前你的职位是什么？</label>
   <input type="text" class="form-control" name="roleBefore5Years" [(ngModel)]="roleBefore5Years">
</div>

<div class="text-center">
   <button type="button" class="btn btn-primary btn-primary-big" (click)="next()">下一步</button>
</div>
