<h1 class="text-center py-3">任何特殊考虑?</h1>
<p class="text-center pb-3">输入任何适用于您的工作技能或属性。</p>


<div class="form-group mb-3">
   <label class="font-weight-bold">完全胜任此工作平均需要的工作年限</label>
   <input type="number" class="form-control" name="avgYears" [(ngModel)]="avgYears">
 </div>

 <div class="form-group mb-3">
   <label class="font-weight-bold">完全胜任此工作至少需要的工作年限</label>
   <input type="number" class="form-control" name="minYears" [(ngModel)]="minYears">
 </div>

 <div class="form-group mb-3">
   <app-select [(ngModel)]="education" [title]="'教育'" [options]="educationOptions"></app-select>
 </div>

 <div class="form-group mb-3">
   <app-multi-select 
   [placeholder]="'输入技能'"
   [title]="'对您的工作至关重要的技能/专业（仅限前 3 名）'" 
   [(ngModel)]="selectedSkills" 
   [options]="skillOptions"></app-multi-select>
 </div>

 <div class="form-group mb-3">
   <app-multi-select 
   [placeholder]="'输入证书和执照'"
   [title]="'相关的证书和执照'" 
   [(ngModel)]="selectedCertifications" 
   [options]="certificationOptions"></app-multi-select>
 </div>

 <div class="form-group mb-3">
    <app-radio [title]="'你是承包商吗？'" [(ngModel)]="contractStatus" [options]="contractTypeOptions"></app-radio>
 </div>
 <div class="form-group mb-3">
    <app-switch [title]="'你是管理者吗？'" [(ngModel)]="isSupervisor"></app-switch>
</div>

<div class="text-center">
   <button type="button" class="btn btn-primary btn-primary-big" (click)="next()">下一步</button>
</div>
