<div class="container-survey">

    <div class="form-wrapper">
       <form enctype="application/json" id="surveyForm" novalidate="">
          <div class="survey__header">
             <h1>任何特殊考虑?</h1>
             <p>输入任何适用于您的工作技能或属性。</p>
          </div>


          <div id="" class="pxl-form-group  ">
            <label class="  pxl-control-label" for="YearsExperience">完全胜任此工作平均需要的工作年限</label>
            <div class="pxl-input-number">
               <input class="control--xs pxl-input-number__input pxl-form-control" type="number" id="YearsExperience" tabindex="0" value="">
               <div class="pxl-input-number__format"></div>
            </div>
         </div>
         <div id="" class="pxl-form-group  ">
            <label class="  pxl-control-label" for="YearsMinimum">完全胜任此工作至少需要的工作年限</label>
            <div class="pxl-input-number">
               <input class="control--xs pxl-input-number__input pxl-form-control" type="number" id="YearsMinimum" tabindex="0" value="">
               <div class="pxl-input-number__format"></div>
            </div>
         </div>
         <div class=" ">
            <div id="" class="pxl-form-group  ">
               <label class="  pxl-control-label" for="HighestDegreeEarned">教育</label>
               <select id="HighestDegreeEarned" class="control--md pxl-form-control" tabindex="0">
                  <option value="">- 点击选择 -</option>
                  <option value="No Degree">没有学位</option>
                  <option value="Associate's Degree">副学士学位</option>
                  <option value="Bachelor's Degree">学士学位</option>
                  <option value="Other">其他</option>
                  <option value="High School Diploma or GED">高中文凭</option>
                  <option value="Non-Degree Certificate Program">非学位证书课程</option>
                  <option value="Master's Degree (non-MBA)">硕士学位 (非MBA)</option>
                  <option value="Master of Business Administration (MBA)">MBA</option>
                  <option value="Law Degree (JD, LLM)">法学学位（法学博士、法学硕士）</option>
                  <option value="Doctorate (PhD)">博士学位</option>
                  <option value="Health Professional Doctorate (MD, DMD, DVM, DPT, etc.)">卫生专业博士（MD、DMD、DVM、DPT等）</option>
               </select>
            </div>
         </div>

          <div id="" class="pxl-form-group  ">
             <label class="  pxl-control-label" for="Skills">对您的工作至关重要的技能/专业（仅限前 3 名）</label>
             <div class="pxl-tagsinput-autocomplete control--lg">
                <div class="react-tagsinput">
                   <div>
                      <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-Skills" aria-expanded="false" class="react-autosuggest__container">
                         <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-Skills" class="react-tagsinput-input" placeholder="Start by typing an answer" tabindex="0" id="Skills" value="">
                         <div id="react-autowhatever-Skills" role="listbox" class="react-autosuggest__suggestions-container"></div>
                      </div>
                   </div>
                </div>
                <div id="Skillsoptions" class="pxl-options pxl-tagsinput-autocomplete__options">
                   <div class="pxl-options--horizontal">
                      <label class="pxl-option pxl-option--pills pxl-pill--primary" *ngFor="let skill of job.skills">
                         <input id="JavaScript" type="checkbox" tabindex="0" class="pxl-option__input" value="{{skill.namet.zh}}">
                         <div class="pxl-option__text">{{skill.namet ? skill.namet.zh : skill.name}}</div>
                      </label>
                      <!--
                      <label class="pxl-option pxl-option--pills pxl-pill--primary">
                         <input id="SQL" type="checkbox" tabindex="0" class="pxl-option__input" value="SQL">
                         <div class="pxl-option__text">SQL</div>
                      </label>
                      <label class="pxl-option pxl-option--pills pxl-pill--primary">
                         <input id="C# Programming Language" type="checkbox" tabindex="0" class="pxl-option__input" value="C# Programming Language">
                         <div class="pxl-option__text">C# Programming Language</div>
                      </label>
                      <label class="pxl-option pxl-option--pills pxl-pill--primary">
                         <input id="Java" type="checkbox" tabindex="0" class="pxl-option__input" value="Java">
                         <div class="pxl-option__text">Java</div>
                      </label>
                      <label class="pxl-option pxl-option--pills pxl-pill--primary">
                         <input id=".NET" type="checkbox" tabindex="0" class="pxl-option__input" value=".NET">
                         <div class="pxl-option__text">.NET</div>
                      </label>
                      -->
                   </div>
                </div>
             </div>
          </div>
          <div id="" class="pxl-form-group  ">
             <label class="  pxl-control-label" for="Certifications">相关的证书和执照</label>
             <div class="pxl-tagsinput-autocomplete control--lg">
                <div class="react-tagsinput">
                   <div>
                      <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-Certifications" aria-expanded="false" class="react-autosuggest__container">
                         <input type="text" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-Certifications" class="react-tagsinput-input" placeholder="Start by typing an answer" tabindex="0" id="Certifications" value="">
                         <div id="react-autowhatever-Certifications" role="listbox" class="react-autosuggest__suggestions-container"></div>
                      </div>
                   </div>
                </div>
                <div id="Certificationsoptions" class="pxl-options pxl-tagsinput-autocomplete__options">
                   <div class="">
                      <label class="pxl-option pxl-option--checklist pxl-option--primary" *ngFor="let certification of job.certifications">
                         <input id="Higher National Diploma (HND), Computing (Software Development)" type="checkbox" tabindex="0" class="pxl-option__input" value="Higher National Diploma (HND), Computing (Software Development)">
                         <div class="pxl-option__text">{{certification.namet ? certification.namet.zh : certification.name}}</div>
                      </label>
                      <!--
                      <label class="pxl-option pxl-option--checklist pxl-option--primary">
                         <input id="Microsoft Certified Professional (MCP)" type="checkbox" tabindex="0" class="pxl-option__input" value="Microsoft Certified Professional (MCP)">
                         <div class="pxl-option__text">Microsoft Certified Professional (MCP)</div>
                      </label>
                      <label class="pxl-option pxl-option--checklist pxl-option--primary">
                         <input id="Sun Certified Java Programmer (SCJP)" type="checkbox" tabindex="0" class="pxl-option__input" value="Sun Certified Java Programmer (SCJP)">
                         <div class="pxl-option__text">Sun Certified Java Programmer (SCJP)</div>
                      </label>
                      <label class="pxl-option pxl-option--checklist pxl-option--primary">
                         <input id="Microsoft Certified Solution Developer (MCSD)" type="checkbox" tabindex="0" class="pxl-option__input" value="Microsoft Certified Solution Developer (MCSD)">
                         <div class="pxl-option__text">Microsoft Certified Solution Developer (MCSD)</div>
                      </label>
                      <label class="pxl-option pxl-option--checklist pxl-option--primary">
                         <input id="Certified ScrumMaster (CSM)" type="checkbox" tabindex="0" class="pxl-option__input" value="Certified ScrumMaster (CSM)">
                         <div class="pxl-option__text">Certified ScrumMaster (CSM)</div>
                      </label>
                      -->
                   </div>
                </div>
             </div>
          </div>
          <div id="" class="pxl-form-group  ">
             <label class="  pxl-control-label" for="ContractorType">你是合同工？</label>
             <div id="ContractorType" class="pxl-options control--md">
                <div class="">
                   <label class="pxl-option pxl-option--radio pxl-option--primary">
                      <input id="No, I am not a contractor" type="checkbox" tabindex="0" class="pxl-option__input" value="No, I am not a contractor">
                      <div class="pxl-option__text">No, I am not a contractor</div>
                   </label>
                   <label class="pxl-option pxl-option--radio pxl-option--primary">
                      <input id="Yes, I am an independent contractor" type="checkbox" tabindex="0" class="pxl-option__input" value="Yes, I am an independent contractor">
                      <div class="pxl-option__text">Yes, I am an independent contractor</div>
                   </label>
                   <label class="pxl-option pxl-option--radio pxl-option--primary">
                      <input id="Yes, I am contracted through an agency" type="checkbox" tabindex="0" class="pxl-option__input" value="Yes, I am contracted through an agency">
                      <div class="pxl-option__text">Yes, I am contracted through an agency</div>
                   </label>
                   <label class="pxl-option pxl-option--radio pxl-option--primary">
                      <input id="Yes, I am contracted through a vendor agreement" type="checkbox" tabindex="0" class="pxl-option__input" value="Yes, I am contracted through a vendor agreement">
                      <div class="pxl-option__text">Yes, I am contracted through a vendor agreement</div>
                   </label>
                </div>
             </div>
          </div>
          <div id="" class="pxl-form-group  ">
             <label class="  pxl-control-label" for="ManagementRole">你监督员工吗？</label>
             <div class="pxl-segmented pxl-segmented--justified control--sm pxl-segmented--primary" data-toggle="buttons">
                 <button type="button" class="pxl-segmented__segment ">是</button><button type="button" class="pxl-segmented__segment ">否</button></div>
          </div>
          <div class="survey-btn--block" style="text-align: center;">
            <button type="submit" id="skip-button" class="survey-btn--secondary" style="display: none;">跳过这一步</button>
            <button type="submit" class="survey-btn--primary" (click)="next()">下一步</button>
        </div>
       </form>
    </div>
 </div>