<div class="additional-stats__half-section additional-stats__rating">
    <h2 class="page-subtitle">工作满意度</h2>
    <div class="additional-stats--section-title">
       {{entity.ratings.jobSatisfaction.score}}<!-- --> (总分5分)
    </div>
    <div class="rating " title="{{entity.ratings.jobSatisfaction.score}}">
       <div class="rating__background"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
       <div class="rating__fill" style="width:{{entity.ratings.jobSatisfaction.score*100/5}}%"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></div>
    </div>
    <span class="section-desc ratings__number">
       (<!-- -->{{entity.ratings.jobSatisfaction.profileCount}}<!-- -->)
    </span>
    <div>
       非常满意
    </div>
 </div>