<section id="herocallout-7016" class="relative w-screen hero-callout grid h-screen items-center justify-center overflow-hidden" style="background: none 0% 0% / auto repeat scroll padding-box border-box rgba(0, 0, 0, 0);">
    <div class="absolute background overflow-visible flex align-center justify-center w-screen z-10">

        <svg x="0px" y="0px" viewBox="0 0 1400 1400" class="overflow-visible" style="transform-origin: 50% 50%; opacity: 0.4579; transform: translate3d(0px, 0px, 0px) scale(0.7128, 0.7128);" xml:space="preserve" aria-labelledby="overflowTitle overflowDesc">
            <title id="overflowTitle"></title>
            <desc id="overflowDesc">Concentric circle objects radiate, change colors, and lock into a static position that frames on-screen text. The circles move during scrolling.</desc>
            <style type="text/css">
                .st0 {
                    fill: url(#c0_1_);
                }

                .st1 {
                    fill: #D5DBDB;
                }

                .st2 {
                    opacity: 0.398;
                    fill: #FFFFFF;
                    enable-background: new;
                }

                .st3 {
                    opacity: 0.598;
                    fill: #FFFFFF;
                    enable-background: new;
                }

                .st4 {
                    fill: #3880EE;
                }

                .st5 {
                    fill: #97BCF6;
                    enable-background: new;
                }

                .st6 {
                    fill: #FFFFFF;
                }
            </style>
            <radialGradient id="c0_1_" cx="700" cy="700" r="700" gradientUnits="userSpaceOnUse">
                <stop offset="0.7854" style="stop-color:#000000"></stop>
                <stop offset="1" style="stop-color:#FFFFFF;stop-opacity:0"></stop>
            </radialGradient>
            <circle id="c0" class="st0" cx="700" cy="700" r="700" data-svg-origin="700 700" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; opacity: 1;"></circle>
            <circle id="c1" class="st1" cx="700" cy="700" r="632.1" data-svg-origin="700 700" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; fill: rgb(213, 219, 219);"></circle>
            <circle id="c2" class="st2" cx="700" cy="700" r="586.5" data-svg-origin="700 700" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; fill: rgb(255, 255, 255);"></circle>
            <circle id="c3" class="st3" cx="700" cy="700" r="507" data-svg-origin="700 700" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; fill: rgb(255, 255, 255);"></circle>
            <circle id="c4" class="st4" cx="700" cy="700" r="405.8" data-svg-origin="700 700" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; fill: rgb(56, 128, 238);"></circle>
            <circle id="c5" class="st5" cx="700" cy="700" r="368" data-svg-origin="700 700" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px; fill: rgb(151, 188, 246);"></circle>
            <circle id="c6" class="st6" cx="700" cy="700" r="342" data-svg-origin="700 700" transform="matrix(1,0,0,1,0,0)" style="transform-origin: 0px 0px;"></circle>
        </svg>
    </div>

    <div class="callout_content container text-center max-w-xs md:max-w-sm mx-auto py-20 row-start-1 col-start-1 z-30" id="heroCalloutText">
        <div class="text-xl md:text-4xl">{{change.title}}</div>
        <div class="colorchange text-3xl md:text-6xl mb-2 md:mb-5" style="transform-origin: 176px 30px; transform: translate(0px, 0px); color: rgb(41, 66, 88);">{{change.subtitle}}</div>
        <p class="md:text-lg text-gray-darkest">{{change.content}}</p>
    </div>

</section>