<h1 class="text-center py-3">你的福利</h1>
<p class="text-center py-3">除了薪资之外，福利也是您获得报酬的重要组成部分。 请告诉我们您目前的福利和津贴！</p>

<div class="form-group mb-3">
   <label class="font-weight-bold">带薪休假周数 (例如 0, 2)</label>
   <input type="number" class="form-control" name="vacationWeeks" [(ngModel)]="vacationWeeks">
</div>

<div class="form-group mb-3">
   <app-switch [(ngModel)]="hasHealthBenefit" [title]="'您是否获得健康福利作为补偿的一部分？'"></app-switch>
</div>

<div class="form-group mb-3">
   <app-select [(ngModel)]="remoteWork" [title]="'你能在家远程办公/工作吗？'" [options]="remoteWorkOptions"></app-select>
</div>

<div class="form-group mb-3">
   <app-multi-select 
   [placeholder]="'输入其他福利和津贴'"
   [title]="'其他福利和津贴'" 
   [(ngModel)]="otherBenefits" 
   [options]="otherBenefitOptions"></app-multi-select>
 </div>
 
 <div class="text-center">
   <button type="button" class="btn btn-primary btn-primary-big" (click)="next()">下一步</button>
</div>