<h1 class="text-center py-3">可选问题</h1>
<p class="text-center pb-3">我们已经开始收集其他类型的数据，以帮助我们构建新功能、为您提供有趣的见解或提供有关我们研究中心的更多有用信息。 这些问题完全是可选的。 但是，我们肯定很想知道您的想法。</p>

<div class="form-group mb-3">
   <app-select [(ngModel)]="jobSatisfaction" [title]="'你对你的工作有多满意'" [options]="jobSatisfactionOptions"></app-select>
</div>

<div class="form-group mb-3">
   <app-select [(ngModel)]="jobStress" [title]="'您的工作/工作环境压力有多大'" [options]="jobStressOptions"></app-select>
</div>

<div class="form-group mb-3">
   <app-select [(ngModel)]="jobMeaning" [title]="'你的工作是否让世界变得更美好'" [options]="jobMeaningOptions"></app-select>
</div>

<div class="form-group mb-3">
   <app-select [(ngModel)]="remoteWorkExpectations" [title]="'继 2020 年居家令工作之后，您对职业领域远程工作的期望是否发生了变化？'" [options]="remoteWorkExpectationsOptions"></app-select>
</div>

<div class="form-group mb-3">
   <app-switch [title]="'您是父母或主要看护人吗？'" [(ngModel)]="isParent"></app-switch>
</div>

<div class="text-center">
   <button type="button" class="btn btn-primary btn-primary-big" (click)="next()">下一步</button>
</div>
