<section id="brandedcolumns-1" class="two-columns-branded lg:-mb-18 lg:mt-12 pb-24 lg:py-32 w-screen relative z-30">
    <div class="container mx-auto grid lg:grid-cols-2 gap-12 items-center">
       <div class="first-column pb-6 py-16 lg:py-24 trig max-w-lg" style="transform: translate(0px, 0px); opacity: 1;">
          <h5 class="text-3xl lg:text-5xl pb-6 ">
            {{salary.title}}
          </h5>
          <p class="lg:text-lg  pb-8 text-gray-darkest">
            {{salary.subtitle}}
          </p>
          <a href="{{salary.actionLink}}" aria-label="Click here to read more about how PayScale sources its data. This link opens another page in a new tab." class="cta purple-cta mb-8 lg:mb-0">
             {{salary.actionText}}
             <div class="pl-2 md:pl-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
                   <g id="cta-circle-g" transform="translate(-242)">
                      <path d="M22.5,0A22.5,22.5,0,1,1,0,22.5,22.5,22.5,0,0,1,22.5,0Z" transform="translate(242)" class="cta-circle"></path>
                      <g transform="translate(257.57 15.785)" class="cta-arrow">
                         <path transform="translate(-7.5 -11.285)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                         <path d="M18,7.5l6.715,6.715L18,20.93" transform="translate(-11.285 -7.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                      </g>
                   </g>
                </svg>
             </div>
          </a>
       </div>
       <div aria-label="Half pill-shaped object with gradient fill changes colors during scrolling." class="second-column pb-2 lg:py-24 lg:-ml-14 lg:-mr-8 lg:pl-32 pl-40 -ml-32 max-w-xl text-white relative grid items-center justify-center trig" style="transform: translate(0px, 0px); opacity: 1;">
          <div class="absolute gradient-bg w-full top-0 left-0" [ngStyle]="{'background-position-x': (slideIndex * 100.0 / salary.details.length) + '%'}"></div>
          <div class="carouselslide" *ngFor="let detail of salary.details; let i = index" [ngClass]="slideIndex == i ? 'active' : 'inactive'">
             <div class="text-6xl lg:text-8xl">
                {{detail.title}}
             </div>
             <div class="text-xl md:text-3xl pb-4">
               {{detail.subtitle}}
             </div>
             <p class="md:text-lg">
               {{detail.content}}
             </p>
          </div>

          <div class="slide-nav pt-6">
              <button *ngFor="let detail of salary.details; let i = index" [ngClass]="slideIndex == i ? 'active' : ''" (click)="changeSlideIndex(i)"></button>
            </div>
       </div>
    </div>
 </section>