<section id="brandedcolumns-1" class="two-columns-branded lg:-mb-18 lg:mt-12 pb-24 lg:py-32 w-screen relative z-30">
    <div class="container mx-auto grid lg:grid-cols-2 gap-12 items-center">
       <div class="first-column pb-6 py-16 lg:py-24 trig max-w-lg" style="transform: translate(0px, 0px); opacity: 1;">
          <h5 class="text-3xl lg:text-5xl pb-6 ">
             Make clear, confident decisions with transparent salary data
          </h5>
          <p class="lg:text-lg  pb-8 text-gray-darkest">
             We are committed to ensuring pay accuracy by providing reliable salary market data that remains true and transparent to respective sources.
          </p>
          <a href="https://www.payscale.com/hr/data-offerings?src=homepage_new" aria-label="Click here to read more about how PayScale sources its data. This link opens another page in a new tab." class="cta purple-cta mb-8 lg:mb-0">
             Find out why it matters
             <div class="pl-2 md:pl-8">
                <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 45 45">
                   <g id="cta-circle-g" transform="translate(-242)">
                      <path d="M22.5,0A22.5,22.5,0,1,1,0,22.5,22.5,22.5,0,0,1,22.5,0Z" transform="translate(242)" class="cta-circle"></path>
                      <g transform="translate(257.57 15.785)" class="cta-arrow">
                         <path transform="translate(-7.5 -11.285)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                         <path d="M18,7.5l6.715,6.715L18,20.93" transform="translate(-11.285 -7.5)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
                      </g>
                   </g>
                </svg>
             </div>
          </a>
       </div>
       <div aria-label="Half pill-shaped object with gradient fill changes colors during scrolling." class="second-column pb-2 lg:py-24 lg:-ml-14 lg:-mr-8 lg:pl-32 pl-40 -ml-32 max-w-xl text-white relative grid items-center justify-center trig" style="transform: translate(0px, 0px); opacity: 1;">
          <div class="absolute gradient-bg w-full top-0 left-0" [ngStyle]="{'background-position-x': (slideIndex * 100.0 / 3) + '%'}"></div>
          <div class="carouselslide" [ngClass]="slideIndex == 0 ? 'active' : 'inactive'">
             <div class="text-6xl lg:text-8xl">
                &gt;300
             </div>
             <div class="text-xl md:text-3xl pb-4">
                traditional survey partners
             </div>
             <p class="md:text-lg">
                Easily load your own surveys into PayScale solutions and access more than 10,000 relevant compensation surveys from hundreds of third-party publishers.
             </p>
          </div>
          <div class="carouselslide" [ngClass]="slideIndex == 1 ? 'active' : 'inactive'">
             <div class="text-6xl lg:text-8xl">
                5.5K
             </div>
             <div class="text-xl md:text-3xl pb-4">
                priced jobs from employers
             </div>
             <p class="md:text-lg">
                Gain access to HRIS survey data updated quarterly from over 2,000 participating PayScale customers representing more than two million employees across 40 industries and counting.
             </p>
          </div>
          <div class="carouselslide" [ngClass]="slideIndex == 2 ? 'active' : 'inactive'">
             <div class="text-6xl lg:text-8xl">
                350K
             </div>
             <div class="text-xl md:text-3xl pb-4">
                new online salary profiles per month
             </div>
             <p class="md:text-lg">
                Expect the freshest compensation data available anywhere with daily-sourced, continuously validated online survey profiles from over eight million monthly visitors.
             </p>
          </div>
          <div class="slide-nav pt-6">
              <button [ngClass]="slideIndex == 0 ? 'active' : ''" (click)="changeSlideIndex(0)"></button>
              <button [ngClass]="slideIndex == 1 ? 'active' : ''" (click)="changeSlideIndex(1)"></button>
              <button [ngClass]="slideIndex == 2 ? 'active' : ''" (click)="changeSlideIndex(2)"></button>
            </div>
       </div>
    </div>
 </section>