/* You can add global styles to this file, and also import other style files */
/*
@import "./assets/css/home/common-skeleton.min.css";
@import "./assets/css/home/main.css";
@import "./assets/css/home/style.min.css";
@import "./assets/css/home/tailwind.css";
@import "./assets/css/home/timetable.css";
@import "./assets/css/home/tooltip.min.css";

@import "./assets/css/home/0.d96f2542.chunk.css";
@import "./assets/css/home/1.07aa08a5.chunk.css";
@import "./assets/css/home/14.22abfce0.chunk.css";
@import "./assets/css/home/19.4751f621.chunk.css";
@import "./assets/css/home/26.c695453b.chunk.css";
@import "./assets/css/home/28.55f88a7d.chunk.css";
@import "./assets/css/home/30.e776e5b0.chunk.css";
@import "./assets/css/home/35.e483d03f.chunk.css";
@import "./assets/css/home/7.004395ae.chunk.css";
@import "./assets/css/home/inline.css";
*/


