<section class="page-section">
    <div id="" class="single-row-start ">
        <div class="single-row-start__header">
            找出你应该得到的报酬
            <div class="single-row-start__sub-header">
                使用我们的工具获取有关您的市场价值的个性化报告。
            </div>
        </div>
        <form class="single-row-start__form survey-start__form" method="post" action="/wizards/choose.aspx?tk=singlerow-ps-rc-job" __bizdiag="614252771" __biza="W___">
            <input type="hidden" value="" name="city">
            <input type="hidden" value="" name="state">
            <input type="hidden" value="Canada" name="confCountry">
            <input type="hidden" value="" name="location">
            <input type="hidden" value="" name="job">
            <input type="hidden" value="" name="yearsexp">
            <div class="single-row-start__form-container">
                <div id="" class="pxl-form-group single-row-start__form-group single-row-start__form-group--location">
                    <label class=" pxl-control-label" for="">位置:</label>
                    <div class="survey-start__citystate">
                        <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-CityState" aria-expanded="false" class="react-autosuggest__container">
                            <input type="text" value="" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-CityState" class="pxl-form-control survey-start__citystate-ac" tabindex="0" id="CityState">
                            <div id="react-autowhatever-CityState" role="listbox" class="react-autosuggest__suggestions-container"></div>
                        </div>
                    </div>
                </div>
                <div class="survey-start__country">
                    <div class="survey-start__country-label">
                        Canada<!-- --> <a class="survey-start__country-link">(修改)</a>
                    </div>
                    <div role="combobox" aria-haspopup="listbox" aria-owns="react-autowhatever-Country" aria-expanded="false" class="react-autosuggest__container">
                        <input type="text" value="Canada" autocomplete="off" aria-autocomplete="list" aria-controls="react-autowhatever-Country" class="pxl-form-control survey-start__country-ac survey-start--hidden" id="Country">
                        <div id="react-autowhatever-Country" role="listbox" class="react-autosuggest__suggestions-container"></div>
                    </div>
                </div>
                <div id="" class="pxl-form-group single-row-start__form-group single-row-start__form-group--yoe">
                    <label class=" pxl-control-label" for="">工作年限:</label>
                    <div class="pxl-input-number">
                        <input type="number" class="survey-start__yearsexp pxl-input-number__input pxl-form-control" value="" min="0" max="80" step="any" tabindex="0">
                    </div>
                    <div class="single-row-start__btn">
                        <input type="submit" class="single-row-start__btn-input" value="找到你的市场价值 »">
                    </div>
                </div>
            </div>
            <div class="single-row-start__right-bullets">
                <div class="single-row-start__header">使用方法:</div>
                <div class="single-row-start__right-bullets-list">
                    <div class="single-row-start__right-bullets-item">
                        <span>1</span>
                        <div>输入城市和工作年限</div>
                    </div>
                    <div class="single-row-start__right-bullets-item">
                        <span>2</span>
                        <div>添加其他因素例如技能，教育背景</div>
                    </div>
                    <div class="single-row-start__right-bullets-item">
                        <span>3</span>
                        <div>通过为您量身定制的报告找到您的市场价值</div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>