<h1 class="text-center py-3">你的雇主</h1>
<p class="text-center py-3">关您雇主类型和行业的详细信息可能会影响您的薪资，并且需要为您提供最准确的薪资范围。</p>

<div class="form-group mb-3">
   <app-select [(ngModel)]="employerType" [title]="'雇主类型'" [options]="employerTypeOptions"></app-select>
</div>

<div class="form-group mb-3">
   <label class="font-weight-bold">雇主的产品或行业</label>
   <input type="text" class="form-control" name="employerProductActivity" [(ngModel)]="employerProductActivity">
</div>


<div class="form-group mb-3">
   <label class="font-weight-bold">雇主名称</label>
   <input type="text" class="form-control" name="employerName" [(ngModel)]="employerName">
</div>

<div class="form-group mb-3">
   <label class="font-weight-bold">员工人数（整个组织）</label>
   <input type="number" class="form-control" name="averageSizeCompetitor" [(ngModel)]="averageSizeCompetitor">
</div>

<div class="form-group mb-3">
   <app-switch [(ngModel)]="isGovernmentContractor" [title]="'您的雇主是政府承包商吗？'"></app-switch>
</div>

<div class="text-center">
   <button type="button" class="btn btn-primary btn-primary-big" (click)="next()">下一步</button>
</div>
