<!--
<app-menu></app-menu>
-->
<app-search-salary 
[type]="type"
[countryCode]="countryCode"
[title]="'按' + getTypeText() + '搜索薪资待遇'"
[placeholder]="'输入' + getTypeText()"
></app-search-salary>

<div class="page  rc-directory">
    <div class="content one-col">
        <div class="maincontent">
            <app-browse [type]="type" [categories]="categories" [title]="'分类浏览' + getTypeText()"></app-browse>
            <!--
            <app-find-your-market-worth></app-find-your-market-worth>
            <app-related-articles></app-related-articles>
            <app-compensation-best-practices></app-compensation-best-practices>
            -->

            <app-popular [countryCode]="countryCode" [type]="type"></app-popular>

        </div>
    </div>
</div>

<!--
<app-what-am-i-worth></app-what-am-i-worth>
<app-footer></app-footer>
-->